[2013-10-25 02:59] mubix opened #1 "ArsTechnica article passwords"
Can you add the following list to the repo please:
http://arstechnica.com/security/2013/10/izmy-p55w0rd-saph/

[2014-06-06 13:21] jordan-wright opened #4 "Organization"
Let me preface by saying these two things:
* I appreciate the hard work you are putting into this - I'm excited to see this develop!
* Organization of things like this is tricky

That being said, I noticed that the organization of this repo wasn't standardized, and there may be some improvements that can be made. Here are some suggestions (in no particular order):
* Case standardization - ```"Disc

[2014-07-01 18:54] jhaddix opened #5 "parse and add Jay's ssh pass list"
https://github.com/shipcod3/Piata-Common-Usernames-and-Passwords

[2015-02-04 03:32] danielmiessler commented on #4
Yes, we're looking to do some major cleanup soon. Thanks for applying some pressure, Jordan.

[2015-02-04 03:35] danielmiessler commented on #1
Completed back in 2014! Thanks for the submission, Rob!

[2015-02-04 03:35] #1 closed

[2015-02-04 03:41] danielmiessler commented on #5
Done.

[2015-02-04 03:41] #5 closed

[2015-07-27 00:35] jhaddix opened #27 "Add and concat DNS lists"
fierce, knock, subbrute, etc.

[2015-08-05 14:31] danielmiessler commented on #4
We're all cleaned up now, Jordan. Please check out the new structure and let us know what you think. Really appreciate the feedback.

[2015-08-05 14:31] #4 closed

[2015-08-13 19:14] janfry opened #31 "Symfony CMS"
It looks like there are a few Symfony entries in the raft files but it may be worth creating a separate entry under the CMS directory.

A few interesting files from verison 1.x (now EoL):
/frontend_dev.php
/frontend_staging.php
/admin
/backend_dev.php
/backend.php

From version 2.x
/app.php
/web/app.php
/app_dev.php
/web/app_dev.php
/config.php
/app_dev.php/admin
/admin

[2015-09-07 12:02] whoot opened #33 "Ashley Madison reorder"
Instead of alphabetical order, it would be better to order the list according to frequency of occurrence.
I could provide this if you want (with and/or without count).

Greetings

[2015-09-07 17:10] fat-tire opened #34 "Twitter updated their bannedPassword list..."
31 new passwords (though they introduced a duplicate, "letmein" for some reason)

To find the updated list, log out of twitter.com if you're signed in, then visit their [signup page](https://www.twitter.com/signup).  Find "bannedPasswords" in the page source.  You can probably guess how to extract it from there, and I won't deprive you of the fun in figuring it out.

Thanks to @binkybear for sugge

[2015-09-23 22:11] penafieljlm opened #36 "[Suggestion] List of Ports Sorted According to Frequency of Use"
Hello,

I've been searching around Google for a list of port numbers sorted according to their frequency of use, and so far, I've found no results corresponding to what I was looking for, so I wanted to suggest adding something like it to SecLists.

#### Problems and Goals
The goal that I have in mind for a list of such kind is to use it to quickly check if a host is alive in the fastest time poss

[2015-09-24 00:01] PeterMosmans commented on #36
Hi @penafieljlm , are you aware of `nmap` ? The portlist nmap uses (` nmap-services`) states their likeliness of being open. See https://nmap.org/book/nmap-services.html for more information.

[2015-09-24 03:13] ipentest commented on #36
Hi John,

When we perform a discovery scan using Qualys, these are the default ports
that it queries to see up/down, hence assuming these are the most used
ones. These are however just in ascending order, not listed in terms of
popularity or frequency of use.

Here they are:

TCP: 1900 ports: 1-3, 5, 7, 9, 11, 13, 15, 17-25, 27, 29, 31, 33, 35,
37-39, 41-223, 242-246, 256-265, 280-282, 309, 311, 3

[2015-09-24 12:30] penafieljlm commented on #36
Hi @PeterMosmans. I didn't know ```nmap``` worked in this manner. I thought it simply iterated over port numbers sequentially. Anyway, thanks for the info! :)

[2015-09-24 17:21] #36 closed

[2015-10-01 20:34] demidovakatya opened #37 "MySQL, SQL Injections"
http://pentestmonkey.net/cheat-sheet/sql-injection/mysql-sql-injection-cheat-sheet

[2015-10-04 14:04] rojaster commented on #37
Is it a creation date or date of last material update - Tuesday, November 27th, 2007- ?

[2015-10-05 01:58] demidovakatya commented on #37
I think it's the creation date.

[2015-10-07 10:00] rojaster commented on #37
I think this material is not bad, but that's one is not the best.

[2015-10-15 01:35] vanderaj opened #40 "XSS fuzz lists"
Many of the XSS payload files are not directly consumable by fuzzing applications, such as Burp Intruder. I think it would be great if there were seperate fuzzing files to the discussion files. For example, Mario's XSS file is AWESOME and so advanced that it's akin to magic, but it takes a bit of work to use within tools.

How best to help you guys with this?

[2015-10-16 19:00] jhaddix commented on #40
I agree, but the context in that file is advantageous. How about make a stand alone fuzzing version and commit with a comment that one is better consumed by Burp and the other used as a reference?

[2015-11-03 20:35] #27 closed

[2015-11-29 22:36] jjaquinta commented on #36
Hey!

New message, please read <http://airfreshernn.com/trust.php?xmlxa>

jo_auto@111george.com

[2015-12-09 14:11] jjaquinta commented on #36
Hey!

Open message <http://11gate.com/writing.php?esu>

jo_auto@111george.com

[2015-12-09 14:58] magnusstubman commented on #36
@penafieljlm nmap uses this list: https://raw.githubusercontent.com/nmap/nmap/master/nmap-services the third column is the frequency.

[2016-01-04 09:16] geekspeed opened #45 "00Webhost passlist and SCADA Hardcoded Password csv"
Pull request #44 contains both of these additions.

[2016-02-28 23:07] Qix- opened #50 "None of the lists actually contain the password "password"."
This seems like an oversight.

[code]

[2016-02-28 23:10] Qix- commented on #50
Nevermind. Grep is treating patterns oddly :|

[2016-02-28 23:10] #50 closed

[2016-03-07 21:03] danielmiessler commented on #45
Thanks, man.

[2016-03-07 21:03] #45 closed

[2016-03-07 21:05] danielmiessler commented on #37
I think we have most of these in there already. If you look under SQL and don't see any of them, please submit them as a separate list and we'll add you to the credits. Thanks much!

[2016-03-07 21:05] #37 closed

[2016-03-07 21:06] danielmiessler commented on #31
Awesome! Can you create a list and submit it?

[2016-03-07 21:06] danielmiessler commented on #33
Yes please!

[2016-03-07 21:13] danielmiessler commented on #34
Added. Thanks so much guys!

[2016-03-07 21:13] #34 closed

[2016-03-07 21:14] danielmiessler commented on #40
Yes please!

[2016-03-09 00:06] danielmiessler opened #51 "Add new polyglots"
Reminder to myself to add this:  https://github.com/0xsobky/HackVault/wiki/Unleashing-an-Ultimate-XSS-Polyglot via @jhaddix

[2016-03-09 00:07] jhaddix commented on #51
+1

[2016-03-09 00:07] danielmiessler commented on #51
It was your find, great one.

[2016-03-09 11:53] magnusstubman commented on #51
+1

[2016-03-10 20:37] awhitehatter opened #52 "Add bitquark's DNS analysis subdomains"
@bitquark has some interesting DNS analysis in his project:
https://github.com/bitquark/dnspop

The specific DNS results:
https://github.com/bitquark/dnspop/tree/master/results

Would make for a great submodule to this repo.

[2016-03-11 22:39] demidovakatya commented on #37
okay, thanks! :)

[2016-03-22 22:11] jjaquinta commented on #36
Hey!

Open message <http://justineplay.com/together.php?m1>

jo_auto@111george.com

[2016-03-22 22:12] jjaquinta commented on #36
Hey!

Open message <http://www.emhedge.com/wait.php?z>

jo_auto@111george.com

[2016-04-30 15:19] dvehrs opened #54 "Git repository might need some cleanup"
I've got this cloned onto my system and the directory takes up 778M of which 380M is the .git directory.  This seems excessive.  Might it be worthwhile to run garbage collection and pruning to reduce this down a bit?  Or is there a valid reason to keep it all that I'm missing?

Maybe run something like what is suggested here:
https://stackoverflow.com/questions/2116778/reduce-git-repository-size

[2016-05-06 14:07] #33 closed

[2016-05-16 13:02] insulsa commented on #36
AFAIK shodan never crawls the whole internet but only very limited ports. Still is not sorted by actual bandwidth statistics, but sorted by the popularity of queries, which is indeed based upon taste.

[2016-06-11 13:16] offensive-security opened #59 "Please add git tags on releases"
Firstly, thanks for sharing your code with the open-source world.

As you may or may not be aware, we have included your tool in our Kali Linux penetration testing distribution so it can be easily installed by our large user-base. You can follow the package development cycle here - http://pkg.kali.org/pkg/seclists

As the distribution includes hundreds of tools, keeping them updated is a significa

[2016-06-30 08:05] michenriksen opened #63 "Missing credits for Gitrob signatures"
Hey there,

I feel a bit shitty for opening this issue, but I am the creator of [Gitrob](https://github.com/michenriksen/gitrob) and I would really appreciate a Thanks and a reference to the tool in the README as the Gitrob file signatures have been included in SecLists [here](https://github.com/danielmiessler/SecLists/blob/master/Discovery/PublicSourceRepoIssues.txt).

Thanks for maintaining this

[2016-07-08 14:38] danielmiessler commented on #63
Pretty sure I added you right after I asked you via email. Let me check.

[2016-07-08 14:42] danielmiessler commented on #63
You were absolutely correct. It wasn't there. I must have forgotten to add it right as I was doing it. Many apologies. You are there now, as you should have been from the beginning.

Thanks for your great project!

[2016-07-08 14:42] #63 closed

[2016-07-08 14:47] danielmiessler commented on #59
Ok, you should have a release now. Thanks for reaching out and including us in Kali!

[2016-07-08 14:47] #59 closed

[2016-07-08 14:48] danielmiessler commented on #54
Phenomenal point. We'll look into it.

I'll keep it open until we get it resolved.

[2016-07-20 17:50] danielmiessler commented on #52
I've added his 100K list. Thanks!

[2016-07-20 17:50] #52 closed

[2016-07-20 17:52] danielmiessler commented on #40
Yes, that's a good idea. We should mark files as tool-ready or something within the name of the list.

[2016-07-20 17:56] danielmiessler commented on #51
Added!

[2016-07-20 17:56] #51 closed

[2016-07-30 16:31] gabemarshall opened #69 "Potential error in SQLi Polyglot"
Hey guys, forgive me if I'm misunderstanding this Polyglot, but instead of the current value for line 2 of the [SQLi_Polyglots](https://github.com/danielmiessler/SecLists/blob/master/Fuzzing/Polyglots/SQLi_Polyglots.txt)

Shouldn't it be this instead?

[code]

[2016-07-30 17:51] AresS31 opened #70 "merged.txt.tar not found"
Hi,
I cannot find the merged.txt.tar which is supposed to be the archived with all the different password lists sorted.
Best,
Alex

[2016-08-01 18:52] wadeharrell commented on #70
https://github.com/danielmiessler/SecLists/commit/9b8e66e6421a579dadae38fe3550be3967973f3a

it was removed
the readme was not updated though

[2016-08-01 20:21] AresS31 commented on #70
Could you please upload the latest version of the merged list somewhere and link it so we can download it freely? :)

[2016-08-05 22:05] tstephansen commented on #70
You can download it from the repository's history. https://github.com/danielmiessler/SecLists/blob/601038eb4ea18c97177b43a757286d3c8a815db8/Passwords/merged.txt.tar.gz

[2016-09-08 10:45] michenriksen opened #75 "Interested in default credentials?"
Hey there,

I recently released a [simple tool](https://github.com/michenriksen/searchpass) to quickly find default creds for network devices, web applications, etc. and I was wondering if the file with all the creds would be a good addition to this project as well?

The file is in JSON format. Take a look at it [here](https://github.com/michenriksen/searchpass/blob/master/credentials.json).

Edit

[2016-09-08 11:12] whoot commented on #75
Hey,

this list is already in Seclists.
See [here](https://github.com/danielmiessler/SecLists/blob/master/Passwords/default-passwords.csv)

[2016-09-08 11:15] michenriksen commented on #75
Oh, I didn't notice that one. However the list from cirt.net is bigger; it contains 2077 credentials while the file you mention contains 1638.

[2016-09-08 11:27] whoot commented on #75
You are right, seems like some entries are missing.
For example the [3M - Volition](https://cirt.net/passwords?vendor=3M) has two entries, which can be found in the referenced documentation, too.
Maybe you can update the csv on SecLists with the missing entries?

[2016-09-08 11:33] michenriksen commented on #75
Yeah, that would probably be the way to go. I can do that when I get a 👍  from one of the project owners.

[2016-09-09 12:34] michenriksen commented on #75
Went ahead and made Pull Request #76 ¯\_(ツ)_/¯

[2016-09-10 08:25] #75 closed

[2016-09-26 11:11] javixeneize opened #79 "files flagged as malware"
Hi

Virustotal flags some files like FUZZDB_cmdasp.aspx as malware

https://www.virustotal.com/en-gb/file/5f959f480a66a33d37d9a0ef6c8f7d0059625ca2a8ae9236b49b194733622655/analysis/1422380865/

Is that a known issue?

Thanks

[2016-09-26 13:29] amuntner commented on #79
Yup, it's a backdoor.

This is documented in the FuzzDB readme:
https://github.com/fuzzdb-project/fuzzdb/blob/master/README.md

"Downloading this repository is likely to cause a false-positive alarm by your antivirus or antimalware software, the filepath should be whitelisted. There is nothing in FuzzDB that can harm your computer as-is, however it's not recommended to store these files on a serve

[2016-09-29 17:30] kgryte opened #80 "License?"
Looking through the project and the issues, I was unable to find a license. Can one be added to the project? Otherwise, cannot use anything until usage restrictions are known.

[2016-09-29 17:37] MikeDawg commented on #80
https://www.owasp.org/index.php/Projects/OWASP_SecLists_Project

Name: OWASP SecLists Project (home page)
Purpose: SecLists is a collection of multiple types of lists used during security assessments. List types include usernames, passwords, URLs, sensitive data grep strings, fuzzing payloads, and many more.
The goal is to enable a security tester to pull this repo onto a new testing box and have

[2016-09-29 17:39] kgryte commented on #80
Thanks!

[2016-09-29 17:39] #80 closed

[2016-10-10 17:29] shel3over commented on #54
you can use
`git clone --depth 1`
to clone the current state only ,without all the history

[2016-10-10 18:16] dvehrs commented on #54
That's a good trick, shel3over.

From a quick test.  An updated clone with full history was 764M but a fresh clone with --depth 1 was only 508M.  The difference appears to be in the .git folders (448M vs 191M).

Maybe a note on the opening page to let users know this is a recommended way to clone?

[2016-10-17 05:38] arvinddoraiswamy opened #88 "Add fuzzing lists - specially one for Integer fields"
Numeric: https://github.com/arvinddoraiswamy/mywebappscripts/blob/master/FuzzLists/numeric_fields_only.txt

Main list repository: https://github.com/arvinddoraiswamy/mywebappscripts/tree/master/FuzzLists

[2016-10-24 20:33] faizann24 opened #89 "Mobile app password leak?"
Sorry to post this here.

Is there any mobile app password leak or any password leak whose passwords have been set on mobiles that you can provide. Need it for a research project.

Best Regards

[2016-11-10 18:18] craSH opened #96 "Adding lists of HTTP Request/Response headers"
Hi there,

I'm working to get some decent lists of HTTP request and response headers, as well as examples for each for this repo. I've started my work here: https://github.com/craSH/SecLists/commits/http-headers

Before I do a PR, I was wondering if you had suggestions for organizing the data - e.g. should I create a new subdirectory under Miscellaneous, keep them as separate files like they are n

[2016-11-11 17:10] ZonkSec opened #97 "Adding some NoSQL fuzzing lists"
I came to seclists looking for some nosql / mongo injection lists and couldn't find anything.

Ended up finding the following and got some good use out of it:
https://github.com/cr0hn/nosqlinjection_wordlists/blob/master/mongodb_nosqli.txt

Figured it could be a nice addition :)

[2016-11-24 09:45] gchan opened #99 "Licensing for software?"
Hi there,

I'm interested in using one of the files in this repo for a potential open source software project.

I usually release open source code under the MIT license but I understand this project is licensed under a creative commons license (CC BY-SA 3.0). I'm wondering if this is permitted under the 'Share-Alike' clause of the CC license. Any guidance is appreciated.

Thanks

[2016-11-25 21:08] aJetHorn opened #100 "Stonecol and Stonecold are both common words?"
I find it hard to believe that Stonecol and Stonecold are, separately, among the 10k most commonly used words. Thoughts?

https://github.com/danielmiessler/SecLists/blob/master/Passwords/10k_most_common.txt

[2016-11-25 21:33] Shifterovich commented on #100
Most used **pass**words, not _words_.

[2016-11-27 16:54] aJetHorn commented on #100
Right. My understanding is that each entry in the word list is a password that has been observed to be among the 10k most commonly used passwords. To me, it seems likely that "Stonecol" was mistakenly added as a substring of "Stonecold" and then was ignored during filtering. It does not seem likely at all that a significant sample size of dumped passwords were found to have arbitrarily truncated t

[2016-11-27 16:58] Shifterovich commented on #100
"Stonecold" makes more sense than "Stonecol", indeed, but there is also the possibility of "stonecol" being among the 10k most commonly used passwords due to the origin of this data. However, "stonecol" isn't a website, company, or anything else (it's literally nothing), so the substring mistake is more probable :P. Mistakes like that happen with big wordlists.

[2016-11-27 17:01] aJetHorn commented on #100
Is the list sorted from most to least frequent? If so, I think it'd be safe to conclude that Stonecol's ranking 4000 places ahead of Stonecold suggests a substring error.

[2016-11-27 17:06] Shifterovich commented on #100
This list is similar to the other lists like `10_million_password_list_top_1000000.txt` which are sorted for sure (since there are lists containing parts of the this list such as `top_100k.txt`, `top_1000.txt`, etc) and common sense suggests that `password` is a more common password than `zzzxxx`, so it seems like it's sorted the right way.

[2016-11-27 17:13] aJetHorn commented on #100
Noticing it with Liverpoo and Liverpool too. I'll write a script later today and take a more detailed look at this. Might be worth sprucing it up.

[2016-11-27 17:14] Shifterovich commented on #100
Good idea, although check whether it's just the last letter before writing the script.

[2016-12-01 20:21] bomattin commented on #100
Looks like, with the two examples you've given, this may be a side effect of certain (very, very poor) systems imposing a MAXIMUM password length of 8 chars. I can think of one website offhand that used to do this.

[2016-12-04 17:18] c0ldb00t3r opened #101 "payloads combined in windows not able to use ."
Even i tried github cloning ,payloads merged with each others .any tips for using fuzzlist on windows.

![payload in windows](https://cloud.githubusercontent.com/assets/10518727/20867792/530ec4c4-ba72-11e6-90b6-567283c253cc.jpg)

[2017-02-05 15:21] geniustanley opened #105 "Big thanks for SecLists"
Hi
I'm student from NTHU ( national tsing hua university )
We've joined SC16 Student Cluster Competition and got the highest password recover.
We use SecLists as our dictionary.

This is our result
https://github.com/bob-beck/sc16passwords

Big thanks to SecLists.

[2017-02-06 09:52] #105 closed

[2017-02-12 06:17] uzoc opened #108 "lots of garbage content in the rockyou.txt file"
I was looking for some good wordlists (that include passwords too!) and it seems that some of the .txt files have a lot of http:// junk, .app junk, and shockwave junk entries. It was a pain to clean up...lol

search rockyou.txt for http, shockwave, .app and you'll find the weird entries that aren't really one liners at all.

Edit: maybe they weren't multi-liners, but the weird copy & paste passwor

[2017-02-12 21:38] #108 closed

[2017-03-17 15:30] Eh2406 commented on #101
Try opening in a different editor. Notepad only recognises windows line endings. It looks like the field have linux line endings.

[2017-03-29 12:31] My1 opened #112 "top million passwords minus one."
the file 10_million_password_list_top_1000000.txt does have a million lines, but from a small look on it the 1 million-th line is empty.

[2017-03-29 13:05] digininja commented on #112
You never come across an account with a blank password? :)

On Wed, 29 Mar 2017, 13:31 My1, <notifications@github.com> wrote:

[2017-03-29 13:42] My1 commented on #112
@digininja any half-decent site makes sure that you cant get in without entering at least ANYTHING as a password.

there was only one instance I saw a blank password and that was a coding error while changing my hashing stuff, which kind of threw an empty password into bcrypt.

[2017-03-29 13:43] miguemely commented on #112
Default router passwords? Some are blank.
On Wed, Mar 29, 2017 at 9:42 AM My1 <notifications@github.com> wrote:

[2017-03-29 13:44] miguemely commented on #112
There is a lot of use for a blank password in a list.

Unsecured computers
Unsecured routers
Etc etc
On Wed, Mar 29, 2017 at 9:43 AM Miguel Rodriguez <miguemely101@gmail.com>
wrote:

[2017-03-29 13:46] digininja commented on #112
Lots of embedded devices have it.

On Wed, 29 Mar 2017 at 14:44 Miguel Rodriguez <notifications@github.com>
wrote:

[2017-03-29 13:48] miguemely commented on #112
Exactly.

Which is why a blank password is in this list. A lot more devices have a
blank password than you think.
On Wed, Mar 29, 2017 at 9:47 AM Robin Wood <notifications@github.com> wrote:

[2017-03-29 13:53] 0E800 commented on #112
ALT255 ALT255 breaks the blank. You will need spaces atleast up to 10 to be
efficient as I believe it's possible to use spaced as a password.

On Mar 29, 2017 6:48 AM, "Miguel Rodriguez" <notifications@github.com>
wrote:

[2017-04-06 02:17] CrossSitePotato commented on #40
@danielmiessler @jhaddix I realize this issue is a little old, but I came across it today and thought the idea here is fabulous. I'd be happy to take a stab at this, that is, if you still want something. Is the solution you want really just make new fuzzing files that can be directly imported into tools (Burp and ZAP come to mind)?

[2017-04-06 18:32] Beyarz commented on #40
Sounds like a good idea to me!

[2017-04-21 06:06] c0ldb00t3r opened #114 "Add api fuzz path"
hi ,
As you can see in https://httpsonly.blogspot.in/2017/01/0day-writeup-xxe-in-ubercom.html
example.com/API/fuzz
Can you please create list for API path fuzz.

[2017-04-26 16:20] MikeDawg opened #115 "Another possible word list"
Found the following word list while browsing today:  https://github.com/berzerk0/Probable-Wordlists

I'm wondering if this list (even though the licensing is currently "unknown") would make a good addition to this list. (That is, if it has a compatible licensing requirement)

[2017-04-26 16:57] MikeDawg commented on #115
So, to fix what I said previously, it appears that berzerk0 pulled his list from this one. Is there a way to get it back into the list formatted the way berzerk0 does?

[2017-04-27 14:32] sbts opened #116 "Missing merged file"
[Passwords/README](https://github.com/danielmiessler/SecLists/blob/master/Passwords/README) states that a file `merged.txt.tar.gz` should exist.

That file doesn't seem to be in `/passwords`

[2017-06-13 09:31] xrobin commented on #116
Looks like commit  https://github.com/danielmiessler/SecLists/commit/9b8e66e6421a579dadae38fe3550be3967973f3a.
Is there a way to include a script that would re-generate this file?

[2017-06-13 09:33] xrobin commented on #116
Actually this is a duplicate of issue #70

[2017-06-27 19:56] theJollySin commented on #112
By preference, if we believe the blank password is legit, it should be moved to the top / middle of the file, so that it is obvious that it is on purpose.  Being at the end of the file it just looks like a typo.

[2017-06-28 13:01] its0x08 commented on #112
I honestly thing that the last line is because some text editors in linux add a blank line by default and after saving the list and checking line numbers with any tool like `wc -l list.txt` for example it will show 1mln lines so thats why !

[2017-06-28 14:00] theJollySin commented on #112
@its0x08 That is hilarious, and I think very probable.

[2017-06-28 18:19] jhaddix commented on #114
Find one and we will include it.

[2017-06-28 18:19] #114 closed

[2017-06-28 18:21] #31 closed

[2017-06-28 18:26] jhaddix commented on #97
added: https://github.com/danielmiessler/SecLists/blob/master/Fuzzing/NoSQL.txt

[2017-06-28 18:26] #97 closed

[2017-06-28 18:51] #112 closed

[2017-06-28 18:52] #100 closed

[2017-06-28 18:52] jhaddix commented on #89
Sorry no =(

[2017-06-28 18:52] #89 closed

[2017-06-28 18:53] #79 closed

[2017-06-28 18:55] #70 closed

[2017-07-06 13:00] BBhacKing opened #127 "Merge similar WebLogic files"
Thanks for this collection - it's a really useful set!

There's some duplication in the WebLogic files in the Discovery/Web_Contents/ directory.

- Weblogic.fuzz.txt - all have the leading slash, and there are 159 lines.
- weblogic.txt - none have the leading slash, and there are 361 lines.

Together, there are 520 lines.

I merged the two files, normalized them to all include the leading slash an

[2017-07-17 07:49] elliot-holley opened #129 "cannot download"
hello, I'm having trouble downloading this. whenever I click on 'download' it just keeps on loading. any advice?

[2017-07-17 16:17] bl4de commented on #129
@elliot-holley
Download and/or clone problems are not caused by repository itself, they are GitHub features, so I don't think Daniel will be able to resolve your problem :)

This is likely problem with your machine/firewall/network settings/user permissions/browser.
I just checked this and I downloaded repo without any problems (it's ~187MB zip file).

Did you try to clone it using Git client?

[2017-07-24 06:28] thehweiming opened #131 "Missing symbol from special char list"
Hello,

I realized that the ] symbol is not included inside this list(SecLists/Fuzzing/special_chars.txt).

Thanks

[2017-07-26 12:28] flytzen opened #132 "Build an API to check common passwords?"
Hi,

I was thinking about building a simple API to allow web developers to check a password provided by a user against the top-n list. It would be provided free to the community. As in, either me or my company would build and host it for free.

It raises some important questions;
1. You have put all this effort in to collating these lists, and I would not build anything like this without your expl

[2017-07-26 15:15] DarrenRainey commented on #132
sounds like a cool idea but it looks like the haveibeenpwned site with a rating system

[2017-07-26 15:31] adamdecaf commented on #132
I would recommend not building such a tool. It's bad for reasons outside of what you said as well, but those reasons you said kill the idea already.

Another reason why it won't work is latency. Assuming your service is super fast and responds in 150-250ms, it's still easily beaten by even the most naive attempts in memory/from a file.

[2017-07-26 16:03] flytzen commented on #132
@DarrenRainey Yes, Haveibeenpwned is a big inspiration for this :) The difference is that haveibeenpwned list email addresses of people that have been compromised, whereas this would have an anonymous list of the most common passwords in use.

[2017-07-26 16:07] DarrenRainey commented on #132
sounds like a cool idea if you want I could help you with this as instead of sending a password why not send a password hash and compare it with a database of other password hashes that way you don't have to worry as much about a man in the middle attack

[2017-07-26 16:07] flytzen commented on #132
@adamdecaf Thanks for the response. I think you are right that latency would be a problem - in reality, one of the reasons I'd like to build this is a technical exercise to see how low I could get that latency :)
That said, even 250ms latency probably isn't really a problem as this would only be checked when the user is changing their password, so quite infrequently. You still have to wait ~500ms

[2017-07-26 16:12] flytzen commented on #132
@DarrenRainey sending a hash is a great idea to mitigate MIM, thank you.

People should of course still worry about me knowing what the hash relates to :)

Also thanks for the offer of help! If @danielmiessler agrees to let us use the data in this way and I can secure the hosting funding my end (shouldn't be a problem) then this would all certainly be OSS and I'd love your input.

[2017-07-26 16:32] DarrenRainey commented on #132
No problem it should be pretty simple to build server side maybe just a php script that receives the hash looks it up in a database and sends a response back. As for the client side you could build a custom app or ui or just use curl with something like md5sum, sha256sum etc.

[2017-07-26 18:12] adamdecaf commented on #132
@flytzen It's not really "just adding a call". By sending this data off to a third party the site is likely violating implied and explicit privacy protections of consumers. How would this work with EU data export laws? Why should a site be sending off the most private information about an account/login to a third party? I wouldn't use any site that sent the password off to a third party knowingly.

[2017-07-26 18:14] adamdecaf commented on #132
@DarrenRainey How are you going to protect the hashes going forward? What happens when whatever hash function(s) used are broken/weakened? Are the clients and this site going to each agree on unique salts per req/resp? If you're just hashing the passwords and sending them over the wire they can be captured and stored for later (or offline brute force attempts).

[2017-07-26 18:18] adamdecaf commented on #132
There are many examples of what a tool like [hashcat](https://github.com/hashcat/hashcat) can do on modest hardware and unsalted passwords (especially "average" consumer passwords) really don't stand a chance against determined attacks.

(search "hashcat" in the transcripts)
https://www.grc.com/sn/sn-593.htm
https://www.grc.com/sn/sn-594.htm

[2017-07-26 18:38] DarrenRainey commented on #132
@adamdecat That is a good point but with all security there is a degree of risk and its only a matter of time until it is broken or cracked by the ever increasing amount of computer power but as long as the hashes are sent in a secure way such as https or even tor this shouldn't be too much of a problem and there will always have to be some amount of trust in the sites operators not to do anything

[2017-07-26 18:51] flytzen commented on #132
@adamdecaf I think you are making a very good point about the access logs, that I hadn't thought about, thank you.
I can make sure the API itself doesn't log anything, but it's not so easy to stop the underlying hosting infrastructure from logging it. And if I want to keep it simple and use a GET then the password (or the hash) would be in the querystring and therefore probably in the logs.

I thi

[2017-07-26 19:00] DarrenRainey commented on #132
pkill syslogd and rm -rf /var/logs :)

[2017-08-03 11:24] flytzen commented on #132
I think Troy Hunt beat us to it ;) https://www.troyhunt.com/introducing-306-million-freely-downloadable-pwned-passwords/

[2017-08-03 11:24] #132 closed

[2017-09-06 19:12] dethmourne commented on #70
It's not clear - why was this issue closed? The merged file is still clearly referenced by the README.

[2017-09-13 19:02] ron190 opened #135 "Paths of Web document root"
Do you have a list of default paths for commons document root?
Example:
[code]

[2017-09-27 14:11] franciscofreire opened #137 "Extra whitespace in SecLists/Discovery/Web_Content/big_portuguese-dictionary.txt"
This wordlist seems to have an extra whitespace in the line beginning for each entry. Can you remove these?

[2017-10-01 21:59] pansa opened #138 "Extra dot at the end in Discovery/DNS/"
subdomains-top1mil-*.txt contains some lines with extra dot at the end, e.g

$ grep -E "\.$" subdomains-top1mil-110000.txt
m.
ns2.cl.bellsouth.net.
ns1.viviotech.net.
ns2.viviotech.net.
ns3.cl.bellsouth.net.
ferrari.fortwayne.com.
jordan.fortwayne.com.
quatro.oweb.com.
c.ns.emailvision.net.
a.ns.emailvision.net.
b.ns.emailvision.net.
d.ns.emailvision.net.
mail.
...

Its drive to wrong concatinatio

[2017-10-04 07:56] trivalik opened #139 "password list contains control character"
The file    10_million_password_list_top_1000000.txt   contains ETX
on line 912955
this should be removed.

Edit:

3 passwords have this ETX.

[2017-10-04 14:23] vdun opened #140 "To add: 42.zip"
http://www.unforgettable.dk/

[2017-10-11 10:03] g0tmi1k opened #143 "Useful: BetterDefaultPasslist"
https://github.com/govolution/betterdefaultpasslist

Could be a good resource to submodule.

[2017-10-16 10:28] Melvin-ngc opened #144 "Version 3.4.0.CR1"
Hi
Is there an estimated release date for version 3.4.0.CR1
We are currently waiting for the blacklist functionality within KEYCLOAK-5244.
Thank you

[2017-10-25 03:55] 0xdevalias opened #148 "Add additional Lotus Domino lists from 'Domino Hunter'"
SecLists currently has the following Domino list:
* https://github.com/danielmiessler/SecLists/blob/master/Discovery/Web_Content/domino.txt

In doing some googling for a recent assessment, I came across the following project:
* https://sourceforge.net/projects/dominohunter/files/dominohunter/0.9/

Inside the zip there are the following wordlist files:
* Domino_files.txt
* Commands_Documents.txt
*

[2017-12-16 08:02] pypetey commented on #40
Great idea.

[2017-12-19 11:38] riramar opened #154 "1.4 billion password breach compilation wordlist"
How about include this password list?

https://gist.github.com/scottlinux/9a3b11257ac575e4f71de811322ce6b3

[2017-12-19 14:11] mazen160 commented on #154
This would be quite difficult to include. The size of the wordlist is 4.5GB+. May be referencing a link to it?

[2017-12-27 21:52] xXCaulDevsYT commented on #137
Wow

[2018-01-05 20:04] mhhakik opened #165 "same help plz"
hi
how can open this file (phpbb-withcount.txt.icloud) !!!

[2018-01-06 16:35] lambdacasserole opened #166 "iCloud metadata files committed"
@danielmiessler @jhaddix Looks like a bunch of iCloud metadata files were committed in place of the actual files. I'm thinking this may have been accidental.

[2018-01-06 16:38] lambdacasserole commented on #165
Looks like that was committed by accident. Just go back in the version history to before this change was made and you can get it [here](https://github.com/danielmiessler/SecLists/blob/788cdb889c84aec5afd24845cf7202fe65fcab10/Passwords/phpbb-withcount.txt). Suggest closing this one @danielmiessler.

[2018-01-09 22:54] axkami opened #167 "pls help me to open .10_million_password_list_top_1000000.txt.icloud"
how to open or seen this file pls help me to open .10_million_password_list_top_1000000.txt.icloud
i can not  use all 7 days ago file uploded

[2018-01-11 17:53] Inozemtsev-Ivan commented on #166
I guess it was done _automatically_ by build-in macOS feature called "Optimized Storage". To solve the issue you can just disable it or save files outside of Documents. Please refer: https://support.apple.com/en-us/HT207236

[2018-01-12 16:06] lambdacasserole commented on #167
See issue #166, in the meantime you can go back in the version history and get the file you need from an earlier point in time:

https://github.com/danielmiessler/SecLists/blob/788cdb889c84aec5afd24845cf7202fe65fcab10/Passwords/10_million_password_list_top_1000000.txt)

[2018-01-18 08:16] hinell commented on #154
@mazen160
Here is one 1gb compressed and 4+ expanded:
https://files.vkk.me/storage/breachcompilationuniq.txt.7z
I haven't checked it yet.
Initially it was posted on the [reddit](https://www.reddit.com/r/netsec/comments/7kqpx9/recent_14_billion_password_breach_compilation_as/drh79oi/)

[2018-02-02 14:54] g0tmi1k opened #169 "4x digits Sorted By Use (PINs)"
http://jemore.free.fr/wordpress/wp-content/pin_codes_sorted_by_frequency.zip

Source: https://www.reddit.com/r/hacking/comments/7ujzkf/complete_list_of_four_digit_pins_ranked_in_order/

[2018-02-18 02:23] rhtmm commented on #167
CAN YOU SEND ME THE FILE I CAN CHECK FOR FOU.IPSW DECODER CAN BE USED .BUT LET ME CHECK FIRST

[2018-02-20 02:24] davidclarke-au opened #172 "merged.txt.tar.gz no longer exists?"
Hi,

I'd love a copy of merged.txt.tar.gz but cannot see it listed anymore, do I need to check a previous ver?

I'd recommend if you call this out in your README specially that you should continue to list it.

Thanks in advance.

[2018-02-20 02:53] davidclarke-au opened #173 "Add 2017 SpashData List"
https://13639-presscdn-0-80-pagely.netdna-ssl.com/wp-content/uploads/2017/12/Top-100-Worst-Passwords-of-2017a.pdf

[2018-02-21 06:03] davidclarke-au commented on #173
Feel free to use this - https://gist.github.com/davidclarke-au/92dde10808ab8798558b3c918bd045a6

Just take off the other additions I made at the end...

[2018-03-03 20:22] UShan89 opened #179 "License file"
Hi there,
https://www.owasp.org/index.php/Projects/OWASP_SecLists_Project

From here, is it safe to assume that this project is with CC-3.0 license? I ask because I intend on making modifications in my fork.

[2018-03-06 11:44] digininja opened #181 "two web content directories"
Is it deliberate that there are two web content directories:?

SecLists/Discovery/Web-Content/

SecLists/Discovery/Web_Content/

There are a few similar files in them but no direct conflicts, I'd guess they should be merged.

[2018-03-06 13:27] mazen160 commented on #181
I thought about the same too. Upvoting for doing a change on this part :+1:

[2018-03-07 09:37] g0tmi1k commented on #181
This should be fixed in #180

[2018-03-07 09:38] g0tmi1k commented on #179
[code]
Source: https://github.com/danielmiessler/SecLists/blob/master/README.md

[2018-03-07 09:44] g0tmi1k commented on #172
Looks like it was removed in 2016 ~ https://github.com/danielmiessler/SecLists/commit/9b8e66e6421a579dadae38fe3550be3967973f3a#diff-242a5d0dbb897928001a6ea309febe95

So its gonna be dated... If you still want a copy of it: https://github.com/danielmiessler/SecLists/blob/601038eb4ea18c97177b43a757286d3c8a815db8/Passwords/merged.txt.tar.gz

Fixed in #180

[2018-03-07 09:46] g0tmi1k commented on #167
Removed in #180.

Source: https://github.com/danielmiessler/SecLists/blob/master/Passwords/CommonCreds/10-million-password-list-top-1000000.txt

[2018-03-07 09:46] g0tmi1k commented on #166
Removed in #180

[2018-03-07 09:46] g0tmi1k commented on #165
Removed in #180.

Duplicate of #166

[2018-03-07 09:49] g0tmi1k commented on #116
Duplicate of #172

Fixed in #180

[2018-03-07 09:51] g0tmi1k commented on #101
Try notepad++ (https://notepad-plus-plus.org/
Or sublime text (https://www.sublimetext.com/)
...or atom (https://atom.io/)

[2018-03-07 09:52] g0tmi1k commented on #99
Duplicate of #179

---

[code]
Source: https://github.com/danielmiessler/SecLists/blob/master/README.md

[2018-03-07 10:22] g0tmi1k commented on #173
I see the the extra being:

[code]

Whats the source of that?

[2018-03-07 10:25] g0tmi1k commented on #173
Fixed in #180

[2018-03-07 10:36] g0tmi1k commented on #169
Fixed in #180

[2018-03-07 10:42] g0tmi1k commented on #143
Fixed in #180

[2018-03-07 10:44] g0tmi1k commented on #140
Fixed in #180

[2018-03-07 10:50] g0tmi1k commented on #139
[code]

[2018-03-07 10:59] g0tmi1k commented on #139
Fixed in #180

[2018-03-07 11:02] g0tmi1k commented on #138
[code]

[2018-03-07 11:42] g0tmi1k commented on #138
2x part fix in #180

[2018-03-07 11:45] g0tmi1k commented on #137
[code]

- - -

[code]

Fixed in #180

[2018-03-07 11:46] g0tmi1k commented on #131
Fixed in #180

[2018-03-07 11:48] g0tmi1k commented on #115
I know @danielmiessler and @jhaddix are really wanting to clean up the folders/naming convention.
What suggestions do you have in mind?

I've thrown my 2 cents into the mix with #180 & #128.

[2018-03-07 11:50] g0tmi1k commented on #96
Currently there isn't any structure (WIP!)
I would make a new folder for it, and submit a PR...

[2018-03-07 11:59] digininja commented on #181
Thanks.

[2018-03-07 16:02] #140 closed

[2018-03-07 16:02] #143 closed

[2018-03-07 16:02] #169 closed

[2018-03-07 16:02] #173 closed

[2018-03-07 16:02] #131 closed

[2018-03-07 16:02] #137 closed

[2018-03-07 16:02] #138 closed

[2018-03-07 16:02] #139 closed

[2018-03-20 02:17] #181 closed

[2018-03-20 02:18] #179 closed

[2018-03-20 02:18] #172 closed

[2018-03-20 07:36] #166 closed

[2018-03-20 07:36] #167 closed

[2018-03-20 07:36] #165 closed

[2018-03-20 07:37] #129 closed

[2018-03-20 07:37] #116 closed

[2018-03-20 07:38] #101 closed

[2018-03-20 07:38] #99 closed

[2018-03-21 16:29] g0tmi1k commented on #69
I agree!

[2018-03-21 16:36] g0tmi1k commented on #115
#176 adds in the source

How does #180 handle the formatting @MikeDawg ?

[2018-03-21 16:50] g0tmi1k commented on #135
Ive just very quickly made something and added them... WIP!

[2018-03-21 16:51] g0tmi1k commented on #144
Sorry, I'm lost/confused.
What do you mean by "3.4.0.CR1" ?

[2018-03-21 17:36] g0tmi1k opened #184 "Add @Jhaddix subdomain list"
RAW: https://gist.github.com/jhaddix/86a06c5dc309d08580a018c66354a056
Source: https://twitter.com/insp3ctre/status/974682458561097728

Tagging in @jhaddix

[2018-03-21 17:41] ron190 commented on #135
Here are some of mine:
https://github.com/ron190/jsql-injection/blob/master/src/main/java/com/jsql/view/swing/resources/list/file.txt

[2018-03-21 17:49] g0tmi1k commented on #135
Thanks @ron190 !
Just added your missing values into here: https://github.com/danielmiessler/SecLists/pull/183/commits/3f79d071ce66d68b037ff2b06cc38be0540e91ef#diff-c619d49fc9ed6839095333b72a1d8937

[2018-03-23 19:05] #69 closed

[2018-03-23 19:05] #88 closed

[2018-03-23 19:05] #96 closed

[2018-03-23 19:05] #127 closed

[2018-03-23 19:05] #135 closed

[2018-03-23 19:05] #148 closed

[2018-03-25 06:06] sebastianbonini opened #187 "marielahuala@hotmail.com"

[2018-03-25 06:06] sebastianbonini commented on #187
marielahuala@hotmail.com

[2018-03-27 01:23] MikeDawg commented on #115
Looks good to me

[2018-03-27 06:07] g0tmi1k commented on #115
If its good, no alterations needed? So can this be closed?

[2018-03-27 06:07] g0tmi1k commented on #187
Not sure in the point of this.
Close?

[2018-03-27 23:56] vmotos opened #188 "Magic hashes"
Please consider adding "magic strings" to the password payloads because they could be very useful for systems that use PHP and the "==" operator. Check out: https://www.whitehatsec.com/blog/magic-hashes/

[2018-04-25 13:58] freddiebarrsmith commented on #40
This is a great idea.

[2018-04-25 16:15] g0tmi1k commented on #188
Great idea!

[2018-05-07 16:05] erose1337 opened #193 "lists of books/schools/street names/etc"
I have a repository that has organized lists of schools (public, private, and colleges), street names, and book titles that might be a useful addition to this repository - I did not see such lists in your repository already.

I collected the information from publicly available sources for the purpose of targeting "security questions" when testing a web application. The repository contains both the

[2018-05-18 19:46] riramar opened #195 "Confluence administration interface path list"
This is more about include file request than an issue. I could do the push request but not sure if you'd approve.
Here https://confluence.atlassian.com/doc/using-apache-to-limit-access-to-the-confluence-administration-interface-216433019.html we can find administration actions paths that should be protected.
IMO you could add the list below under /Discovery/Web-Content/ since an attacker could fin

[2018-06-13 09:41] g0tmi1k commented on #188
And its merged

[2018-06-13 09:41] #188 closed

[2018-06-13 09:43] g0tmi1k commented on #115
Not heard back. Closing.
Feel free to re-open

[2018-06-13 09:43] #115 closed

[2018-06-13 09:44] g0tmi1k commented on #144
Not heard back.
Closing.
Feel free to re-open if needed.

[2018-06-13 09:44] #144 closed

[2018-06-13 09:44] g0tmi1k commented on #187
Closing

[2018-06-13 09:44] #187 closed

[2018-06-13 09:45] g0tmi1k commented on #193
Its a great idea!
Would love to see it added in (somehow).
Think you could do a PR?

[2018-06-13 09:45] g0tmi1k commented on #195
Feel free to open up a PR!

[2018-06-13 20:29] erose1337 commented on #193
Done, the relevant [pull request is here](https://github.com/danielmiessler/SecLists/pull/198)

[2018-06-19 06:47] #193 closed

[2018-06-20 16:46] erose1337 opened #200 "Attribution for security question answers"
Hi again,

I hate to be a bother, but I was wondering if I could be included in the attribution list on the readme for the security question answers that were just merged into the repo? While all of the data did come from publicly available sources, I did spend quite a bit of time gathering and extracting the information into a usable format.

Thanks!

[2018-06-21 06:36] #200 closed

[2018-07-02 06:05] g0tmi1k commented on #184
Added

[2018-07-02 06:05] #184 closed

[2018-07-05 06:22] #195 closed

[2018-08-01 08:55] Al-tamimi commented on #154
question,
how to use file to crack password, through terminal? or what

thank you

[2018-09-14 16:41] roybollinger commented on #154
What do you think of http://leakprobe.net would anyone use this service for leaked passwords?

[2018-10-02 06:23] s7x opened #215 "[Include] Param-Miner wordlist"
Hello!

I thought it would be a good idea to add the wordlists from "Param-Miner" Burpsuite's extension by @albinowax. It contains unkeyed inputs related to web parameters, headers and such. It's a really awesome and complete ressource for uncommon attacks such as Cache Poisoning, OOB and such.

[Param-Miner wordlists](https://github.com/PortSwigger/param-miner/tree/master/resources)

Maybe it wou

[2018-10-03 10:39] g0tmi1k commented on #215
Great suggestion @s7x. I agree.
Would you like to have a good at making a PR? Else I can when I find some free time.

[2018-10-03 13:48] s7x commented on #215
Hi @g0tmi1k, sure I can try, I never did this before but I guess we all have to start somewhere.
I'll see how it works and do it after understanding.

Cheers!

[2018-10-03 14:35] albinowax commented on #215
I'd recommend combining the 'headers' and 'boring_headers' wordlists, and ignoring the others (as I think they're already in seclists in some form).

[2018-10-03 18:54] 0xtavian opened #217 "Feature Request API wordlists"
I find myself prodding unknown APIs more and more. It would be great to have a wordlist similar to https://github.com/chrislockard/api_wordlist incorporated.

[2018-10-04 08:12] g0tmi1k commented on #217
Good suggestion @0xtavian! I have to agree.
Would you like to have a good at making a PR? Else I can when I find some free time.

[2018-10-05 12:40] g0tmi1k commented on #215
Merge'd: https://github.com/danielmiessler/SecLists/commit/f8987930efe2a60ee95a76eb9233ad6a07bc6349

[2018-10-05 12:40] #215 closed

[2018-10-16 16:04] blshkv opened #226 "File name too long: b'/usr/share/dict/seclists/Payloads/File-Names/max-length"
[code]

I'm unable to copy that file from tmpfs to ext4. Any ideas?

[2018-10-16 23:44] blshkv commented on #226
This is what I did on Pentoo too:
https://github.com/pentoo/pentoo-overlay/blob/master/app-dicts/seclists/seclists-2018.3.ebuild#L19

but the question: what is the point of having this file if it is impossible to use it? How a penetration tester could still use it?

[2018-10-17 07:29] drwetter commented on #226
Seems to me 256 bytes long which exceeds the limits of most Linux fs: https://en.wikipedia.org/wiki/Comparison_of_file_systems#Limits. Just cutting it by one char should help

[2018-10-31 21:33] toxydose commented on #54
I suggest to add this note with the notification about over-sized .git directory  to README file before this issue will be not fixed.

[2018-11-10 18:26] kirtiso opened #233 "Installation issue"
Hello sir,

Can u tell me what is command for running in kali linux???

[2018-11-11 08:50] g0tmi1k commented on #233
either `apt-get install seclists` (more info: https://tools.kali.org/password-attacks/seclists)
or `git clone https://github.com/danielmiessler/SecLists.git`
or `wget https://github.com/danielmiessler/SecLists/archive/master.zip; unzip master.zip; rm -f master.zip`

[2018-11-11 08:50] #233 closed

[2018-11-16 16:05] akudiurov opened #235 "Feature request: list of complex passwords"
Lots of apps have requirements for passwords to be "complex" and contain upper-, lowercase, special character and to be at least 8-10 chars long. So brute forcing any of them with passwords that won't satisfy those requirements is pointless (until we are targeting old account with unchanged passwords in apps that didn't require users to change them)
So I thought it would be a good idea to create a

[2018-12-03 05:46] nsonaniya2010 opened #245 "List Addition - A list of secret related keywords should be added"
Here is the example of list which should be added:

[code]
and more.

[2018-12-03 08:11] g0tmi1k commented on #245
Feel free to open a pull request!

Whats the source of the above list?

[2018-12-03 08:19] nsonaniya2010 commented on #245
there is no source but these are the keywords generally used to search for credentials on github and other source.

[2018-12-03 08:35] g0tmi1k commented on #245
Fair enough :).
I can either, wait for your PR and merge it in, else using what you put above, I can make a PR and merge that in.

[2018-12-03 09:41] nsonaniya2010 commented on #245
Done.

[2018-12-03 10:12] #245 closed

[2018-12-03 10:13] g0tmi1k commented on #245
Cheers for the PR 👍

[2018-12-11 19:03] Natfan commented on #226
Could this not be shortened to a regex pattern?
`(A[a-i][0-9]){85}` seems to work?
https://regexr.com/44oth for a live demonstration.

[2018-12-12 18:17] Hamid-K opened #255 "websphere.txt update"
The following default/common endpoints are missing from the list in websphere.txt:

/wps/wsrp/WSRPBaseService_v2
/wps/wsrp/WSRPBaseService_v2/*
/wps/wsrp/WSRPPortletManagementService
/wps/wsrp/WSRPPortletManagementService/*
/wps/wsrp/WSRPPortletManagementService_v2
/wps/wsrp/WSRPPortletManagementService_v2/*
/wps/wsrp/WSRPServiceDescriptionService
/wps/wsrp/WSRPServiceDescriptionService/*
/wps/wsr

[2018-12-12 21:20] g0tmi1k commented on #255
feel free to open up a PR

[2018-12-19 15:01] mrkhew opened #257 "Trojan found in the folders"
![trojan](https://user-images.githubusercontent.com/31813140/50227963-ed94fd00-03e1-11e9-8eb6-38ecf2cb6954.jpg)
![trojan2](https://user-images.githubusercontent.com/31813140/50227983-f259b100-03e1-11e9-8182-04d0021e8572.png)

Is this normal?

[2018-12-19 15:02] g0tmi1k commented on #257
Yup

[2018-12-19 15:02] #257 closed

[2018-12-19 15:04] mrkhew commented on #257
Ok thanks

[2019-01-04 11:16] toxydose opened #259 "Question about latest commit"
Hi,

I found that in https://github.com/danielmiessler/SecLists/commit/778b16115f846a1fb76729156bf8aa8380848fef were deleted some big and important files. Are they duplicates, or in what reason the files were deleted? There is no info about it in commit.

Thanks
Alex

[2019-01-07 15:34] g0tmi1k commented on #259
Hey @toxydose
Looks like something went wrong - I will shortly recover it.

[2019-01-07 15:42] #259 closed

[2019-01-07 15:56] #255 closed

[2019-01-07 15:56] g0tmi1k commented on #255
Merged!
Thank you

[2019-02-10 20:13] #226 closed

[2019-02-10 20:14] g0tmi1k commented on #226
Fixed up!

[2019-03-11 09:19] alirezahs-git opened #275 "Best pass list for instagram"
hi guys! What is pass list's best for instagram?

[2019-03-11 10:11] g0tmi1k commented on #275
Nope - Doesn't work like that =).

But to answer your question (and the only thing I will say on the matter) - the "best" would be a custom list towards the target (profile them, and then generate a list )... or test to see if they re-use the creds from other sites (database dumps)

[2019-03-11 10:11] #275 closed

[2019-04-03 11:45] ChrisMcKee opened #284 "Duplicate (mixed case) file in Fuzzing Directory"
[code]
One needs blowing away.

[2019-04-03 11:53] g0tmi1k commented on #284
@ChrisMcKee I'm not seeing this.
Are you using the latest version?

https://github.com/danielmiessler/SecLists/tree/master/Fuzzing

[code]

[2019-04-03 12:02] ChrisMcKee commented on #284
![image](https://user-images.githubusercontent.com/83597/55477357-bc4ae080-5610-11e9-87b3-d3ea6865ec7c.png)

[2019-04-04 08:16] g0tmi1k commented on #284
@ChrisMcKee
Your screenshot has different filenames to whats in the top/first comment.

[2019-04-04 08:17] g0tmi1k commented on #284
Their contents is different too.
This isn't a duplicate file.
[code]

[2019-04-05 15:58] ChrisMcKee commented on #284
@g0tmi1k you closed it but there are still two files with the same name and different casing.
.fuzz was only highlighted because i typed userage in the browsers find control; I wasn't saying it was the same thing.

![image](https://user-images.githubusercontent.com/83597/55640636-f7414580-57c3-11e9-80c9-dbb3ba7798f1.png)

That better^

The content may not be identical but the file naming is; which

[2019-04-09 10:50] 0x6773 commented on #284
I can confirm, there are two duplicate files inside `Fuzzing`

[code]

[2019-04-09 22:09] g0tmi1k commented on #284
[code]
[seclists]$ git rev-parse HEAD
aca3a1bb5cb8fe52bffb0cfe5aed260cf3aa0870
[seclists]$
[seclists]$ cd Fuzzing/
[Fuzzing]$
[Fuzzing]$ wc * | grep -i user
wc: Polyglots: Is a directory
     245     2752    20678 UserAgents-ie.txt
    2454     8756   110375 UserAgents.fuzz.txt
wc: user-agents: Is a directory
       0        0        0 user-agents
[Fuzzing]$
[code]
[tmp]$ curl -I https://raw.githu

[2019-04-09 22:12] g0tmi1k commented on #284
Well that was simple enough...

[code]

[2019-04-10 09:20] #284 closed

[2019-04-10 09:21] g0tmi1k commented on #284
[code]

Should be good now!

Thanks and sorry once again @ChrisMcKee

[2019-04-10 11:26] tehmoon opened #288 "Add graphql to a Web-Content database"
Hi!

I recently came across a `/graphql` endpoint which was not in any `Discovery/Web-Content/` wordlists. I think it's a pretty default path for people that use GraphQL as it is pointed out here: https://graphql.org/learn/serving-over-http/

I use raft medium.txt but like everybody I'm assuming, I also built my own.

How possible would it be to add that endpoint somewhere? I don't really know how

[2019-04-10 12:19] #288 closed

[2019-04-10 12:19] g0tmi1k commented on #288
Thanks for the suggestion. Added to `big.txt`

[2019-04-16 14:55] u0m3 opened #291 "Some raft files contain invalid characters (or wrong encoding used)"
Some lines like https://github.com/danielmiessler/SecLists/blob/master/Discovery/Web-Content/raft-large-directories.txt#L15513 trigger errors when loaded/loading in some tools (for example wfuzz).
Is it possible to check if in the process of compiling these lists, files with different encoding were not mixed?

[2019-04-22 23:29] danielmiessler opened #293 "Let's add these..."
https://wpengine.com/unmasked/

[2019-04-23 07:41] KLuuKer commented on #293
More specifically the list of 10mil passwords is found here (they link it somewhere in the article)
https://xato.net/today-i-am-releasing-ten-million-passwords-b6278bbe7495
all the way down it gives you a

mega link
https://mega.nz/#!SdYnkJRJ!HmD04LH8Gk8JtlNG6O2NnF2yH9qWJPWtSXbLU2ZR9Q8
or a magnet link
magnet:?xt=urn:btih:32E50D9656E101F54120ADA3CE73F7A65EC9D5CB

[2019-04-26 14:04] csunsweet opened #294 "WebLogic Kubernets url"
I recent found out that the following URL which is used by WebLogic to interact with Kubernetes

/weblogic/ready

[2019-04-26 14:25] g0tmi1k commented on #294
Feel free to make a PR with it, else I can try and do it next week.

[2019-05-07 17:20] #294 closed

[2019-05-07 17:40] g0tmi1k commented on #293
[code]

[2019-05-07 17:43] g0tmi1k commented on #154
You can only do 100MB on github ~ https://help.github.com/en/articles/conditions-for-large-files

[2019-05-08 08:49] g0tmi1k commented on #293
[code]

[2019-05-08 09:26] g0tmi1k commented on #293
So as a little extra, I filtered out the entries that were duplicated (came up more than once):

[code]

[2019-05-08 09:33] #293 closed

[2019-05-08 09:38] g0tmi1k commented on #291
This seams to clean it up:

[code]

[2019-05-08 10:08] #291 closed

[2019-05-08 10:08] g0tmi1k commented on #291
Thanks for the suggestion!

[2019-05-08 10:09] g0tmi1k commented on #293
Thanks for the suggestion!

[2019-05-08 10:58] g0tmi1k commented on #235
A VERY dirty way of doing it:

[code]

[2019-05-08 11:18] g0tmi1k commented on #235
[code]

[2019-05-08 11:22] #217 closed

[2019-05-08 11:23] g0tmi1k commented on #217
Thanks for the suggest!

[2019-05-08 11:23] g0tmi1k commented on #235
Any feedback @akudiurov?

[2019-05-12 12:04] ArtemSer commented on #154
It can be split into many part-files?

[2019-05-12 21:48] BaRRaKudaRain commented on #154
This is and idea!

--
---------------------------
An outsider, the BaRRaKudaRain

-----Original Message-----
From: "Sierikov Artem" <notifications@github.com>
Sent: ‎5/‎12/‎2019 3:05 PM
To: "danielmiessler/SecLists" <SecLists@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Subject: Re: [danielmiessler/SecLists] 1.4 billion password breach compilationwordlist (#154)

It can be

[2019-06-09 17:54] pijussau commented on #235
I would like to know too..
[Spillhandel.no](https://spillhandel.no/)

[2019-06-12 02:24] bozeyman9000 opened #308 "This is gonna sound dumb"
how the heck do i download this as a file, when i click download it opens a page with all the passwords, and i tried using git clone the address bar... like the official way to do this.

[2019-06-12 02:25] bozeyman9000 commented on #308
oh i found the answer... i was like further down the file path... but is there a way to grab certain files from git then?

[2019-06-12 02:41] srasku commented on #308
If you click on "Raw" you can save the file from your browser.

[2019-06-12 06:46] g0tmi1k commented on #308
Hi!

Either you can download the whole project, using either git or http (see the readme).
Else you can grab single files - by pressing 'raw' in the top right of the file menu.

[2019-06-12 06:46] #308 closed

[2019-06-14 16:23] GTP95 commented on #235
If you wish to generate such a list you should have a look at crunch: https://sourceforge.net/projects/crunch-wordlist

[2019-06-22 19:48] cwalkbb commented on #154
Wow

[2019-07-02 07:26] waawaa opened #309 "Missing paths with RCE vulnerabilities in weblogic"
The following paths should be added, because them have asigned CVE with public exploit that could lead to RCE in the host.

/wls-wsat/CoordinatorPortType
/wls-wsat/CoordinatorPortType11
/wls-wsat/ParticipantPortType
/wls-wsat/ParticipantPortType11
/wls-wsat/RegistrationPortTypeRPC
/wls-wsat/RegistrationPortTypeRPC11
/wls-wsat/RegistrationRequesterPortType
/wls-wsat/RegistrationRequesterPortType11

[2019-07-02 07:32] #309 closed

[2019-07-02 09:48] g0tmi1k commented on #309
Feel free to make a PR with it!

[2019-07-02 09:49] g0tmi1k commented on #309
Looks like you did with #310!
Thanks

[2019-07-05 00:13] dido4free commented on #154
I have rechecked above service. Most of leaked passwds are old or too old (for example 5-9 years old). But there are about 10-20% actual passwords (I have checked about 50 users).
And you will not have ability to use that leaded passwds because of many www see your wrong location with e-mail owner.
So maybe there are other better base with leaked passwds?

[2019-07-05 00:15] dido4free commented on #154
Sure! You may use Total Commander to split any huge file to many smaller ones. I did it and now have 17 files for about 250MB

[2019-07-09 11:15] #154 closed

[2019-07-17 18:24] damian101 opened #319 "Difference between "xato-net-10-million-passwords.txt" and "xato-net-10-million-passwords-dup.txt"?"
Title says it. What is the difference between these two wordlists? What I can see is that the dup one is a bit smaller.
Thanks in advance.

[2019-07-17 20:10] g0tmi1k commented on #319
#293 & #297 should help out

[2019-07-17 20:10] #319 closed

[2019-07-17 20:38] toxydose opened #320 "CMS fingerprinting"
Hi,
How about to create wordlist in Discovery/Web-Content/CMS with unique endpoints of most popular CMSs to fingerprint usage of them?
It should contain non-security-impact endpoints than usually should not be hidden - such as common static file paths, etc in the reason of most accurate fingerprinting.

[2019-07-17 21:17] g0tmi1k commented on #320
If you have a source of this, would love to add it.

[2019-07-17 23:15] damian101 commented on #319
Thanks

[2019-07-29 15:28] bardware opened #327 "Is this an empty password?"
In this file: https://github.com/danielmiessler/SecLists/blob/master/Passwords/xato-net-10-million-passwords-1000.txt
What is line 43 between `hunter` and `buster`? Is this an empty password?

[2019-07-29 15:44] HeIp commented on #327
Yes, it is

[2019-07-29 15:50] #327 closed

[2019-08-04 17:53] g0tmi1k opened #329 "Please add Bo0oM's fuzz.txt"
https://github.com/Bo0oM/fuzz.txt

[2019-08-13 11:51] #329 closed

[2019-09-17 13:59] ahronmoshe opened #339 "wrong type?"
In the url  [https://github.com/danielmiessler/SecLists/blob/master/Fuzzing/XML-FUZZ.txt](https://github.com/danielmiessler/SecLists/blob/master/Fuzzing/XML-FUZZ.txt)
The injection need to be
`<?xml version="1.0" encoding="ISO-8859-1"?><!DOCTYPE foo [<!ELEMENT foo ANY><!ENTITY xee SYSTEM "file:///etc/passwd">]><foo>&xee;</foo>`

The ENTITY ( xee ) should be like in the <foo> tag  (<foo>&xee <foo>)

[2019-09-28 00:42] nobodyatall123 opened #344 "outclicks.net URL found in multiple wordlists"
Doing a recursive grep for the word "outclicks" reveals multiple references to outclicks.net/agent/random_string URL's in multiple wordlists. A previous download of the repository did not contain these references. Are these links a legitimate part of the wordlists?

[2019-09-28 10:04] dahouaek opened #345 "txt"
123456
202020
101010

[2019-09-30 09:38] g0tmi1k commented on #345
I'm not sure on the question here.
Please re-open with more information

[2019-09-30 09:38] #345 closed

[2019-09-30 09:42] g0tmi1k commented on #344
So a search for `outclicks`.

[code]

- - -

Looking for URLs:

[code]

So its only coming up in user-agents.
I don't see an issue with this?

[2019-09-30 09:42] #344 closed

[2019-09-30 09:51] g0tmi1k commented on #339
Feel free to open up a PR!

[2019-09-30 13:36] drwetter opened #348 "Well Knowns"
see also #347

Found the registry (https://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml). Happy to submit a PR once #47 is merged (to avoid merge conflicts)

[2019-09-30 13:49] drwetter commented on #348
Redid PR #347 --> see #349. Closing this issue bc I assume / hope it'll be merged

[2019-09-30 13:49] #348 closed

[2019-10-04 15:39] #339 closed

[2019-10-09 07:33] ankpri opened #356 "error-3"
<urlopen error [Errno -3] Temporary failure in name resolution>

[2019-10-09 10:16] g0tmi1k commented on #356
Hello,
The issue is lacking detail. Please could you provide more information on what you are doing and what is happening (and what should happen).
Please re-open the issue with it.

[2019-10-09 10:16] #356 closed

[2019-11-06 15:01] bkimminich opened #367 "List of dangerous/risky JS functions on client-side"
A list of dangerous functions offered by JS frameworks could be used by tools like OWASP ZAP or BurpSuite to check if any are used in the JS code delivered to the browser by a SPA. Here are some examples:

* From Angular 2+ using these can make XSS possible, see https://angular.io/guide/security:
  * `bypassSecurityTrustHtml`
  * `bypassSecurityTrustScript`
  * `bypassSecurityTrustStyle`
  * `bypa

[2019-11-06 21:38] g0tmi1k commented on #367
Hello @bkimminich
Yes, Yes it would!
Please could you open up a PR?

[2019-11-06 23:05] bkimminich commented on #367
Cool! Which folder would you like to have it in? Should I make a list only for Angular and other frameworks would get their own file or just one generic `DangerousJavaScriptFrameworkFunctions.txt`?

[2019-11-07 09:52] g0tmi1k commented on #367
I would throw it into `./Pattern-Matching/` - and if possible, split per framework (that way, they can be `cat * > DangerousJavaScriptFrameworkFunctions`) if the needs...

[2019-11-07 22:44] g0tmi1k commented on #367
Merge'd

[2019-11-07 22:44] #367 closed

[2019-11-27 13:21] milangfx opened #375 "Add /apidocs/api-docs.json"
I came across this endpoint in the wild, it was called by a Swagger UI to render the documentation for an API.

Can we add this to one of the lists? I didn't want to open a PR as I don't know which file (maybe more than 1?) would be best.
Maybe Discovery/Web-Content/quickhits.txt? or Fuzzing/fuzz-Bo0oM.txt?
The latter one already has api/swagger-ui.html, swagger-ui.html, swagger.json, etc which ar

[2019-11-28 22:39] DemonRem opened #376 "hash.txt from rar2john"
[hash.txt](https://github.com/danielmiessler/SecLists/files/3903144/hash.txt)
I using RAR5 version , someone put a password on the rar and he total scam me he didn't bring me the password what is the chance this git may crack it?

this is what I get from rar2john

[2019-11-29 12:05] g0tmi1k commented on #376
This is not a password cracking service.

[2019-11-29 12:05] #376 closed

[2019-11-29 12:06] g0tmi1k commented on #375
Feel free to make a PR!

[2019-11-30 09:46] Harrison-Mitchell opened #377 "PHP code exec grep list missing three items"
https://github.com/danielmiessler/SecLists/blob/d19c482b7516838d456b12745ff02dd186b33a1e/Pattern-Matching/grepstrings-auditing-php.md#command-execution

The following also allow code exec in PHP:
- passthru()
- proc_open()
- popen()
- backticks: \`cmd\`

[2019-11-30 11:41] drwetter commented on #377
They are in

https://github.com/danielmiessler/SecLists/tree/master/Pattern-Matching/Source-Code-(PHP)
, except backticks: `cmd` but maybe those can be merged ?

[2019-11-30 20:48] g0tmi1k commented on #377
Feel free to open up a PR

[2020-01-11 17:46] mgzin opened #384 "Mgzin384"

[2020-01-11 17:48] mgzin commented on #384
mgzin384

[2020-01-11 17:48] mgzin commented on #384
Mgzin384

[2020-01-11 17:49] mgzin commented on #384
Mgzin384

[2020-01-12 10:32] g0tmi1k commented on #384
Closing.

[2020-01-12 10:32] #384 closed

[2020-01-22 15:47] ShadowStone63 opened #386 "Unable to pull and download via zip functionality"
I've included an image below of the issue within my GitHub
![git-SecLists](https://user-images.githubusercontent.com/60187349/72909134-6f1a3580-3d2e-11ea-9f29-486abd3d6384.png)

[2020-01-22 15:59] g0tmi1k commented on #386
Looks like you have an issue with GitLab ;)
Wonder if they have a bug bounty!

[2020-01-22 15:59] #386 closed

[2020-02-17 23:39] AlexShepler opened #392 "Can't open on Windows"
I tried to download the file onto my Windows machine and when I try to open or unzip the file it says "Windows cannot open the folder. The compressed (zipped) Folder 'C:\Download\Location' is invalied'" and I've also tried the git clone command as well.

[2020-02-18 01:32] g0tmi1k commented on #392
Try using the non in-built zip manager (such as 7zip).

Also, git would be a better way to get it.
And Linux would be better still

[2020-02-18 01:32] #392 closed

[2020-02-23 10:54] Louis-Allard opened #393 "Trying failed"
Wich dependance missed ?

[code]

[2020-02-23 19:46] g0tmi1k commented on #393
This has nothing todo with seclist profile.

[2020-02-23 19:46] #393 closed

[2020-03-16 08:40] kazkansouh opened #397 "CRLF Line Endings"
Hello.

I have noticed that the line endings in 212 of the 5144 `.txt` files are CRLF. I guess this is by accident and not intended? I find it can make scripting a little more inconvenient when reading these files as there is one more item to think about.

Usually, the GIT approach would be to rely on `core.autocrlf` or `.gitattributes` to manage the translation. That is, store with LF endings, an

[2020-03-16 13:34] noraj opened #398 "Chore: architecture"
I think this is a mistake.

![image](https://user-images.githubusercontent.com/16578570/76763400-53ae3280-6793-11ea-90ee-7954fb8b8a3e.png)

[2020-03-17 13:36] #398 closed

[2020-03-17 13:36] g0tmi1k commented on #398
Good eye - thanks <3

[2020-04-01 09:21] NF997 commented on #375
Would be cool if we could also add `/api-docs`.
E.g. OWASP Juice Shop hosts a swagger documentation under this path.
`SecLists/Discovery/Web-Content/swagger.txt` seems to be a good file to add these entries.
@g0tmi1k Do you agree?

[2020-04-01 12:46] milangfx commented on #375
Sorry, I completely forgot about this issue. I've added them to `Fuzzing/fuzz-Bo0oM.txt`.
`Discovery/Web-Content/swagger.txt` has 4 lines, I don't think anyone uses that.

[2020-04-06 10:36] g0tmi1k commented on #375
@NF997 - I do!

[2020-04-08 21:13] messithegoat opened #407 "Seclists"

[2020-04-09 00:15] unKn0wnUser453 opened #408 "Missing very comon name."
Add "root" to /usr/share/seclists/Usernames/Names/names.txt

[2020-04-09 10:19] g0tmi1k commented on #408
Feel free to open a PR

[2020-04-09 10:19] #407 closed

[2020-04-19 10:40] rajeshk28 opened #413 "how to update the seclists once installed on kali later when soemthings add up"

[2020-04-19 13:08] its0x08 commented on #413
use the git version and do daily or weekly `git pull`

[2020-04-20 08:47] shoeper commented on #413
apt-get update && apt-get upgrade

[2020-04-20 09:03] g0tmi1k commented on #413
This is covered in the readme.

If thats not clear enough, please explain in more detail the issue.

[2020-04-20 09:03] #413 closed

[2020-04-20 10:17] CoccodrillooXDS commented on #408
@unKn0wnUser453, I've made a PR for you.
CC: @g0tmi1k

[2020-04-20 10:28] g0tmi1k commented on #408
Cheers @CoccodrillooXDS

Closing

[2020-04-20 10:28] #408 closed

[2020-04-23 10:29] squalldna opened #415 "Seclist.git size."
hi. im sorry. im on limited data. how big is the seclist complete file size? thank you.

[2020-04-23 10:49] shoeper commented on #415
zip download currently is 351,8 MiB

cd SecLists
du -sh .git
529M	.git

[2020-04-23 10:50] #415 closed

[2020-04-24 12:19] kingthorin commented on #54
Note: If you use `git clone --depth 1` it'll be less to transfer and have on disk, however, you also won't be able to push or open PRs (in my experience).

[2020-04-27 06:12] storenth opened #419 "Can't create pull request"
[code]

[2020-04-27 06:15] gtsatsis commented on #419
Outsider here; Looks to me like you're pushing to origin, and not your fork.

To make a PR, you need to fork the repository, push to your fork, and then make a PR from Github's UI

[2020-04-27 10:13] g0tmi1k commented on #419
I would also say your using HTTPS and not SSH...

[2020-04-27 10:13] #419 closed

[2020-04-29 13:16] Kadeeli opened #423 "add dutch password wordlists"
I would like to make a contribution to the seclist password directory.
For my studies I generated a dutch passwordlist based on all the dutch
emails from the databreach collection #1 to #5. I also found a list of
dutch words which is generated based on a lot of scanned documents and
articles by other researchers. They are sorted on frequency. I hope its
good enough to be in there

Dutch_passwordli

[2020-04-29 13:55] g0tmi1k commented on #423
Feel free to open up a PR!

[2020-04-29 16:51] #423 closed

[2020-04-29 16:51] g0tmi1k commented on #423
Wooo! Cheers for the PR!

[2020-04-30 16:50] gwen001 opened #425 "Typo in secret-keywords.txt"
Discovery/Variables/secret-keywords.txt

Line 49-50:
[code]

Might be:
[code]

[2020-04-30 17:26] g0tmi1k commented on #425
Feel free to open up a PR!

[2020-05-04 18:15] liujie1995gg opened #429 "I want to consult a place"
My English is not standard, the following generated by translation software
--------------------------
About the link
https://github.com/danielmiessler/SecLists/tree/master/Payloads/PHPInfo/phpinfo-metadata.jpg

How can I use this code in the JPG files? Direct access to the invoked download, cannot execute! Introduction: I am a small white is self-study, hope to receive the author's reply, thank y

[2020-05-05 09:30] g0tmi1k commented on #429
Need to read the metadata.

[2020-05-05 09:30] #429 closed

[2020-05-23 18:45] rajeshk28 opened #436 "what is the lowecase.txt is? we it have all the content from the main one?"

[2020-05-25 09:17] jensregel opened #438 "Typo in top-20-common-SSH-passwords.txt"
Typo in [https://github.com/danielmiessler/SecLists/blob/master/Passwords/Common-Credentials/top-20-common-SSH-passwords.txt](url)

`maintaince`

should be

`maintenance`

[2020-05-26 08:30] chris-h1 opened #439 "characters are missing in lang-terman.txt"
I had a look at lang-german.txt
---8<---
bernchst
bernchste
bernchstem
bernchsten
---8<---
All the 'ü' and 'ä' are missing in front of the words. Should be *ü*bern*ä*chst, *ü*bern*ä*chste. I guess this might be a filtering problem when collecting the data.

[2020-05-26 08:36] chris-h1 opened #440 "'ß' character wrong, as all umlaute in lang-german.txt"
---8<---
zustoBende
zustoBendem
zustoBenden
---8<---
should be zustoßende, zustoßendem, and so forth.
There are no 'ß' 'ü'. 'ö', 'ä' in the file which means all the characters are deleted, which is, that's not real german :-).

[2020-05-26 21:23] L1ghtn1ng commented on #397
Would be good to add a .gitattributes file

[2020-05-27 08:38] g0tmi1k commented on #397
Love a PR! <3

[2020-05-27 08:40] g0tmi1k commented on #440
Feel free to open up a PR

[2020-05-27 08:40] g0tmi1k commented on #439
Related: #440

Please open up a PR!

[2020-05-27 08:43] g0tmi1k commented on #438
Feel free to open up a PR

[2020-05-27 08:45] g0tmi1k commented on #436
The main one being?

[2020-05-27 10:04] rajeshk28 commented on #436
I am talking regarding Raft lower case wordlists. Are they the same compared to other RAFT wordlists. Means is the content same of different

[2020-05-29 14:55] g0tmi1k commented on #436
[code]

So yeah, same content - just with the duplicates from making it lowercase removed.

[2020-05-29 14:56] g0tmi1k commented on #436
I wonder how much value it is then having the lowercase ones (I guess it depends on if its used in something which is case insensitive)

[2020-05-30 10:54] its0x08 opened #444 "TYPO in some raft lists."
While fuzzing, encountered some lines that start with space or even empty ones, which gave me some false positive.
![typo](https://i.imgur.com/vK812QH.png)

[2020-06-05 15:29] #425 closed

[2020-06-05 15:30] g0tmi1k commented on #444
Feel free to open up a PR

[2020-06-05 22:26] its0x08 commented on #444
I did open a PR just now.

[2020-06-09 07:15] flexxlord opened #449 "How do you download this?"
I have no idea how to download this, should I just copy paste into a notepad txt document?

[2020-06-09 09:29] g0tmi1k commented on #449
Please read the README, there are multiple ways.

[2020-06-09 09:29] #449 closed

[2020-06-09 15:30] lc opened #450 "Missing contributor for KeyHacks in CONTRIBUTORS.md"
Hey @g0tmi1k,

It looks like you're missing a contributor in here: https://github.com/danielmiessler/SecLists/blob/master/CONTRIBUTORS.md

This Keyhacks API [markdown](https://github.com/danielmiessler/SecLists/blob/master/Miscellaneous/web/keyhacks-api.md) in your project was taking directly from here: https://github.com/streaak/keyhacks however there's no thanks or contribution added to the CONT

[2020-06-09 15:56] g0tmi1k commented on #450
Please open up a PR

[2020-06-09 16:08] lc commented on #450
Hey @g0tmi1k,

Is this format in the PR alright?

[2020-06-09 16:10] g0tmi1k commented on #450
Yes it is :) Thank you again

[2020-06-09 16:10] #450 closed

[2020-06-09 16:11] lc commented on #450
Awesome, thanks for your work on SecLists @g0tmi1k!

[2020-06-09 16:45] #444 closed

[2020-06-09 16:46] g0tmi1k commented on #444
Thank you!

[2020-06-14 02:48] AT41 opened #456 "10-million-password-list-top-1000000.txt Corrections"
On line 415201 "gosto" appears between "souvien22" and "souuaicr".
On line 879415 "lega" appears between "xmanfan" and "xmandrad".
On line 952663 "j" appears.

The "j" seems like a typo, and the other 2 seem to be out of place.

[2020-06-22 21:51] 808808808808 opened #461 "SecLists"

[2020-06-23 09:13] #461 closed

[2020-06-24 09:43] clem9669 commented on #438
You can close it now ;) @g0tmi1k

[2020-06-24 09:57] g0tmi1k commented on #438
Closing :)

[2020-06-24 09:57] #438 closed

[2020-06-28 07:47] danielmiessler opened #462 "Addition - FlameOfIgnis/Pwdb-Public"
I need to ping this creator and see if we can get this added.

If anyone wants to take it, I'd appreciate it.

https://github.com/FlameOfIgnis/Pwdb-Public

[2020-06-29 06:51] mrajput7 opened #463 "Golang list update."
https://www.dropbox.com/s/ir2b56j3zt7vz0a/golang_handlefunc_combined?dl=0

[2020-06-29 08:57] chudyPB opened #464 "SAP wordlists update"
Hi,

I have found almost 300 SAP Webdynpro endpoints that are not included in SecLists wordlists.

New endpoints:

https://github.com/chudyPB/sap-wordlist/blob/master/diff-seclists-myadditions.txt

Whole project and whole wordlist (it contains several different wordlists + my endpoints).

https://github.com/chudyPB/sap-wordlist
https://github.com/chudyPB/sap-wordlist/blob/master/sap-ultimate.txt

[2020-07-13 02:30] maxkleinke opened #469 "/Passwords/Default-Credentials whitespaces in listnames"
Hey,

big one right here :----). The files `Oracle EBS passwordlist.txt` and `Oracle EBS userlist.txt` in `/Passwords/Default-Credentials` contain whitespaces which causes bash to view the single words as elements when iterating the folders and writing them to a variable/array.

[2020-07-17 20:58] g0tmi1k commented on #469
Please open a pull request with it!

[2020-07-17 20:58] g0tmi1k commented on #464
Please open up a pull request with it

[2020-07-17 20:59] g0tmi1k commented on #463
Please open up a pull request with it

[2020-07-17 20:59] g0tmi1k commented on #456
Please open up a pull request with it

[2020-07-22 15:26] g0tmi1k commented on #469
Should now be fixed - thanks again @maxkleinke

[2020-07-22 15:26] #469 closed

[2020-07-22 15:27] g0tmi1k commented on #464
Should now be fixed - thanks again @chudyPB

[2020-07-22 15:27] #464 closed

[2020-07-22 15:27] g0tmi1k commented on #463
Should now be fixed - thanks again @mrajput7

[2020-07-22 15:27] #463 closed

[2020-08-14 07:39] its0x08 opened #481 "More WPA lists"
Hello
I was giving some WPA cracking classes and needed some real short WPA wordlist. I was obligated to use rockyou.txt  to crack that particular WiFi. That took my student an hour to crack since rockyou.txt is a bit big for non GPU cracking and small show-offs.
So I suggest converting all password lists to WPA compatible by filtering less than 8 letter passwords and placing new lists inside SecL

[2020-08-14 09:50] hss14 opened #482 "Discovery/DNS content details"
First I want to apologize that this is a stupid question. But I googled and could not find the answer.

I get the idea that these are possible subdomain names. One possible use case is subdomain enumeration. But what exactly does each file contain? Could someone please explain, or better, add a more detailed README file?

Thank you in advance!

[2020-08-17 12:14] FaizanNehal opened #483 "Which is the most detailed wordlist for directory brute force?"
I cannot find a wordlist for directory brute force. Can you suggest me which one should I use for directory brute force with ffuf or gobuster?

[2020-08-20 01:59] phreakcoder commented on #483
the one in /usr/share/wordlists/gobuster/directory-list-2.3-medium.txt it works most of the time

[2020-08-21 20:07] Nathan12005 opened #486 "Nathan12005"
https://github.com/danielmiessler/SecLists/blob/bb915befb208fd900592bb5a25d0c5e4f869f8ea/Passwords/porn-unknown.txt-Databases/porn-unknown.txt#L308

[2020-08-21 20:08] Nathan12005 opened #487 "Nathan12005"
https://github.com/danielmiessler/SecLists/blob/bb915befb208fd900592bb5a25d0c5e4f869f8ea/Passwords/porn-unknown.txt-Databases/porn-unknown.txt#L308

[2020-08-21 20:10] Nathan12005 opened #488 "Animal Jam Classic"
https://github.com/danielmiessler/SecLists/blob/bb915befb208fd900592bb5a25d0c5e4f869f8ea/Passwords/Leaked-Databases/porn-unknown.txt#L6879

[2020-08-21 20:12] Nathan12005 opened #489 "Nathan12005"
https://github.com/danielmiessler/SecLists/blob/bb915befb208fd900592bb5a25d0c5e4f869f8ea/Passwords/Leaked-Databases/porn-unknown.txt#L282

[2020-08-23 04:16] Nathan12005 opened #491 "jamie2"
https://github.com/danielmiessler/SecLists/blob/bb915befb208fd900592bb5a25d0c5e4f869f8ea/Passwords/Leaked-Databases/porn-unknown.txt#L4220

[2020-08-25 11:11] drwetter commented on #440
see also my comment in #485. IMO this dictionary is to a large extend useless.

I have a really similar looking file here (time stamp 2013). It has the "Umlaute" but still has BS entries for some:

[code]
and the ones you mentioned, and more (B instead of ß):

[code]

[2020-09-09 23:40] MusicGivesMeLife opened #499 "BiblePass wordlist"
I made an R script that generates a wordlist based on likely permutations of Bible verses.  The final list is split into several (currently 5) files by limiting each to a max of 3mil lines each.  I've actually used this list to help a local organization improve their security by demonstrating that passwords based off Bible verses are too predictable.

I would like to submit this list for possible

[2020-09-09 23:44] #499 closed

[2020-09-16 06:30] #456 closed

[2020-09-16 06:31] g0tmi1k commented on #491
Not sure what the issue being reported here is?

[2020-09-16 06:31] #491 closed

[2020-09-16 06:31] g0tmi1k commented on #489
Not sure what the issue being reported here is?

[2020-09-16 06:31] #489 closed

[2020-09-16 06:31] g0tmi1k commented on #488
Not sure what the issue being reported here is?

[2020-09-16 06:31] #488 closed

[2020-09-16 06:32] g0tmi1k commented on #487
Not sure what the issue being reported here is?

[2020-09-16 06:32] #487 closed

[2020-09-16 06:32] g0tmi1k commented on #486
Not sure what the issue being reported here is?

[2020-09-16 06:32] #486 closed

[2020-09-16 06:33] g0tmi1k commented on #483
Any here are designed what your wanting ~ https://github.com/danielmiessler/SecLists/tree/master/Discovery/Web-Content

The bigger, the more it may find, but longer it will take.
Everything is a trade off

[2020-09-16 06:33] #483 closed

[2020-09-16 06:37] g0tmi1k commented on #482
So the files in https://github.com/danielmiessler/SecLists/tree/master/Discovery/DNS, are pre-written suggestions of possible subdomains (either commonly seen/guessed/from zone transfers/made up)

The idea being, you need to take the list, and throw it into a tool and that tool will check to see if that subdomain is valid.

What tool? Depends on what exactly you want - there are a LOT out there, a

[2020-09-16 06:37] #482 closed

[2020-09-16 06:37] g0tmi1k commented on #481
Feel free to open a PR

[2020-09-16 06:37] #481 closed

[2020-09-16 06:41] g0tmi1k commented on #499
Feel free to open up a PR!

[2020-09-22 15:24] apehex opened #504 "Do checklists have a place here?"
Checklists, report templates and the likes help me to streamline my workflow, be systematic and learn.

Wouldn't be great to have checklists / templates consolidated for each security task here?

(I'm new to this field, please don't murder me if this is irrelevant ^^' )

[2020-09-23 10:21] g0tmi1k commented on #504
Heya.
Its a good idea - but I wouldn't say this is the place.
Asking @danielmiessler and @jhaddix to weigh in here

[2020-09-23 16:28] moodule commented on #504
hey there, thanks for the input :)
I came across a [note taking app for pentesting](https://github.com/ehrishirajsharma/SwiftnessX), they plan to integrate checklists from the get-go.
Still I'd rather have the various checklists somewhere, then consolidated versions, and use it elsewhere, with or without an app.

[2020-09-24 04:05] arjunshibu opened #507 "Add HTTP request methods"
[http-methods.txt](https://github.com/danielmiessler/SecLists/files/5273369/http-methods.txt)

[2020-09-25 13:54] clem9669 commented on #507
Hey @arjunshibu ,

Great list !
I think this is not an issue. Make it a pull request 😀

Cheers

[2020-09-25 14:29] arjunshibu commented on #507
Will do😊

[2020-09-28 03:10] Haveyougonemad opened #510 "Do I need to install Go On Windows To Fix this or what??!!"
![image](https://user-images.githubusercontent.com/32998571/94386850-53421b80-0168-11eb-9975-8bc8b17f35f9.png)
ahh Do I need to install Go or it's due to something else?

[2020-09-28 03:36] Haveyougonemad commented on #510
oops sorry wrong repo

[2020-09-28 03:36] #510 closed

[2020-09-28 11:27] moodule commented on #504
Is it bad taste if I create a 'SecChecklists' repo? :grin:
At first it'll be static checklists, but the name should change if I get to track the actual results / progress.

[2020-09-28 11:29] g0tmi1k commented on #504
No no!
Go for it - I like the idea!
Can link to it in the README.md

[2020-09-28 12:56] pudgenuts commented on #504
A Check list repo would indeed be valuable

[2020-10-01 19:39] kacprzewski opened #515 "Unable to git clone"
after using git clone on gitbash or GitHub CLI this what shows up:
![1](https://user-images.githubusercontent.com/34382016/94854902-f2e40000-042d-11eb-94eb-2cd891b1c6e2.PNG)

the same problem is when I try to extract the file from .rar

Does Anybody know how to fix it?

sorry if this question was posted before but I couldn't find it

[2020-10-02 14:37] robinminto commented on #515
Windows doesn't like the filenames added in commit 58f2b4db5373aec093bfa40da30a5af0344f5050. You should be able to check out cd9b3c6568602711d5f044112c55a790bf6d7392.

You can also checkout successfully with "Windows Subsystem for Linux" on Windows.

[2020-10-02 14:52] #515 closed

[2020-10-03 01:26] udaydatrak opened #520 "Free 100 bug bounty tutorials in 20 hours"
Hi Guys,

I made a video on how to learn 100 unique security issues learning in just 20 hours without any basics.

I would like you to add these in your features list. People from across the globe already started giving hundreds of positive comments.

Search in YouTube for "100 bug bounty lessons uday datrak" To learn including web application development and setup too.

https://www.youtube.com/pl

[2020-10-16 17:08] vonProteus commented on #54
maybe [migrate](https://github.com/git-lfs/git-lfs/blob/master/docs/man/git-lfs-migrate.1.ronn) to [git lfs](https://git-lfs.github.com/)
that would speed up the cloning process

[2020-10-26 10:30] danielmiessler opened #529 "Let's add these EFF lists"
https://www.eff.org/dice

[2020-10-27 06:21] shelld3v opened #530 "Add Donald Trump leaked passwords"
Trump password has been hacked 2 times:
- 2016: `yourefired`
- 2020: `maga2020!`

I think some people will now use one of those as their passwords (if they love Trump). Since I don't know where should I add this to, I created this issue to let you know and add them if you feel interested

[2020-10-28 08:33] weisk commented on #530
such a kind one you are :D

[2020-10-28 08:41] shelld3v commented on #530
I love Trump but won't use that password for sure 🤣

[2020-10-29 18:06] HUSSAINMADRED opened #531 "100008918115056"

[2020-11-02 21:01] g0tmi1k commented on #531
Not sure the point in this?

[2020-11-02 21:01] #531 closed

[2020-11-02 21:01] g0tmi1k commented on #530
Feel free to open up a pull request with it.

[2020-11-02 21:01] #530 closed

[2020-11-02 21:10] g0tmi1k commented on #507
https://github.com/danielmiessler/SecLists/pull/519

[2020-11-02 21:11] g0tmi1k commented on #529
Feel free to open a pull request ;)

[2020-11-02 21:11] #507 closed

[2020-11-03 05:06] shelld3v commented on #530
But what file?

[2020-11-03 11:43] g0tmi1k commented on #530
I would go with : https://github.com/danielmiessler/SecLists/blob/master/Passwords/twitter-banned.txt
Because ~ https://github.com/danielmiessler/SecLists/commit/14128bab60c9eeb7c65ce5188f9e7aee56e0db23
History ~ https://en.wikipedia.org/wiki/Covfefe

[2020-11-12 23:01] cnotin opened #538 "Add JWT default secrets"
From: https://github.com/wallarm/jwt-secrets/blob/master/jwt.secrets.list
By @d0znpp / @wallarm
If the license is compatible of course :)

[2020-11-12 23:04] cnotin commented on #529
Users have to use six words chosen randomly from the provided dictionary. Do we want to store the very long list of all possible combinations?
Or just the simple dictionary itself (which is basically the English dict!)?

[2020-11-14 16:00] shoeper commented on #529
I don't think anyone wants to store 2^77 strings

[2020-11-19 11:32] redstonedesigner opened #541 "Common Username Patterns?"
I've been using the SecLists repository for a while now, and I think it's amazing.  Thank you to all the contributors for compiling this amazing resource into one place.

One thing that I have considered is that, with the Usernames directory, there's nothing on common usernames using common names/common username patterns for corporate email addresses and login details.

I have written a program th

[2020-11-19 12:07] redstonedesigner commented on #529
I felt free, so I did.

[2020-11-24 15:13] righettod opened #545 "Huge list of GET commons parameters"
Hi,

Do you think that it is interesting to add this [list](https://twitter.com/infosec_au/status/1330263362719125514) to this repo?

Thank in advance 😃

[2020-12-20 10:12] righettod opened #548 "Add path ".well-known/jwks.json""
Hi

Add the path `.well-known/jwks.json` to the file [common.txt](https://github.com/danielmiessler/SecLists/blob/master/Discovery/Web-Content/common.txt)

[2020-12-27 15:27] righettod commented on #545
I think that my proposal is useless because the dico is already updated each month and freely available [here](https://wordlists.assetnote.io/):

![image](https://user-images.githubusercontent.com/1573775/103174198-70b67c80-4860-11eb-8476-cff0ed4df101.png)

[2020-12-27 15:27] #545 closed

[2020-12-27 15:41] righettod commented on #548
Linked PR is #549

[2021-01-05 21:01] mubix opened #553 "DNS wordlists should not have multiple cases for the same word"
Noticed that a few of the DNS lists include case sensitive DNS like AutoDiscover and autodiscover. DNS is case insensitive unless I'm mistaken. So it's wasting the resolutions

[2021-01-06 14:51] shoeper commented on #553
Here are the line counts for current files and with upper casing unique sort.

| as is   | sort -fu | difference |
|---------|----------|------------|
|  100000 |   100000 |          0 |
|   50000 |    49928 |         72 |
|     500 |      500 |          0 |
| 2178751 |  2171687 |       7064 |
|    2280 |     2280 |          0 |
|    1907 |     1907 |          0 |
|   64818 |    64721 |         97

[2021-01-06 15:25] mubix commented on #553
My apologies, I didn't mean to insinuate that anyone wasn't doing a good job, just suggesting improvement. I chose my words poorly. Thank you for doing the work to clear it up.

[2021-01-20 06:44] TAbdiukov opened #560 "PR #559 supporting issue (as per CONTRIBUTING.md )"
PR:  https://github.com/danielmiessler/SecLists/pull/559
Protocol for the reference, https://en.wikipedia.org/wiki/OBject_EXchange

Common paths references,

* http://dev.zuckschwerdt.org/openobex/wiki/ObexFtpServices
* http://www.pday.com.cn/technology/irda_documents/irmc_v1p1.pdf

* https://manualzz.com/doc/24948742
* https://manualzz.com/doc/922881/dcs-phfs-dw-user-guide

Rare paths references:

[2021-01-22 09:08] shoeper commented on #560
"please use ONE of the following methods to submit them" - CONTRIBUTING.md

[2021-02-07 16:35] GraoMelo opened #567 "Add all 20th century anniversary dates"
From:  https://github.com/GraoMelo/SecLists/blob/master/Passwords/Common-Credentials/1900-2020.7z

Size compressed file: **4,8 KB**
Hash: 768b352b28ee11a6cbdffd614576f7e1431a5a818ae5677ab971bf6b918760e7 ( Sha256 )
Size uncrompress: **396 KB**

By @GraoMelo
license MIT

Path suggestion: [link](https://github.com/danielmiessler/SecLists/tree/master/Passwords/Common-Credentials)
SecLists/
├── Passwor

[2021-02-09 15:48] Faelian opened #568 "Add webpack.manifest.json"
Hello,

The file `webpack.manifest.json` has been immensely useful to me recently.
I have been able to retrieve the source code of the admin app, that was deployed using webpack (the file produced has a random name). The admin app source code contain secrets and functionalities, etc... You know the drill.

I think it would be a useful addition to the lists. Maybe `Discovery/Web-Content/big.txt` ?

[2021-02-10 07:43] righettod commented on #568
`big.txt` or `common.txt` from the `Discovery/Web-Content` folder are good candidates I think 😃

[2021-02-11 20:48] #529 closed

[2021-02-11 21:35] #553 closed

[2021-02-11 21:47] g0tmi1k commented on #568
Please open up a pull request with it!

[2021-02-11 21:47] g0tmi1k commented on #567
Please open up a pull request

[2021-02-11 21:47] g0tmi1k commented on #560
Please open up a pull request

[2021-02-11 21:48] g0tmi1k commented on #548
Merged in now! Thanks

[2021-02-11 21:48] #548 closed

[2021-02-11 21:49] g0tmi1k commented on #541
Feel free to open up a pull request.

Either all or say the top x amount.

[2021-02-11 21:49] g0tmi1k commented on #538
Please open up a pull request

[2021-02-11 22:10] g0tmi1k commented on #568
#570

[2021-02-11 22:10] #568 closed

[2021-02-15 04:19] TAbdiukov commented on #560
I close my issue as the PR is merged (and I didn't realise it was OR, not AND - sorry about that :) @g0tmi1k @shoeper )

[2021-02-15 04:19] #560 closed

[2021-02-22 00:46] mallorybowes opened #574 "Anyone see value in adding a Chrome malicious extension list?"
I figured I'd open it up to the collective to see if y'all would find value to the list I keep of malicious Chrome extensions before making a pull request:

Just the IDs:  https://github.com/mallorybowes/chrome-mal-ids/blob/master/current-list.csv
IDs + metadata:  https://github.com/mallorybowes/chrome-mal-ids/blob/master/current-list-meta.csv

I could see ppl using it for figuring out malicious e

[2021-02-23 16:10] #375 closed

[2021-02-27 18:25] righettod opened #576 "File "contribute.json""
Hi,

Are you OK for a PR adding the entry `contribute.json` to the [common.txt](https://github.com/danielmiessler/SecLists/blob/master/Discovery/Web-Content/common.txt) dict ?

Sources:
- https://infosec.mozilla.org/guidelines/web_security#contributejson
- https://www.contributejson.org/
- https://github.com/mozilla/contribute.json

If yes, I will submit a PR once the PR #573 will be merged or rej

[2021-03-01 05:22] g0tmi1k commented on #574
SecList:

If its used todo security assessments, then it can be added ;)
How common is it? Not sure - but thats not the point!
However, how would it be kept up-to-date? Thats then something that would need to be kept in sync.
On the fence with the submission - open to feedback & comments.

At the very least, can be added to the README ~ `Similar Projects`

[2021-03-01 05:22] g0tmi1k commented on #576
Yes - feel free to open a PR!

[2021-03-01 05:45] righettod commented on #576
Ok I will do it asap. Thanks a lot :)

[2021-03-01 11:37] righettod commented on #576
PR #577  submitted 😃

[2021-03-01 12:43] g0tmi1k commented on #576
PR #577 merged 😃

[2021-03-01 15:28] righettod commented on #576
Thank you very much 💯

[2021-03-01 15:28] #576 closed

[2021-03-01 22:36] mallorybowes commented on #574
Technically, when used w/the shell script, it's a security assessment.  But just for the user's local Chrome extension directory...  :-)

Yeah, that's why I figured I'd ask what ppl do with the lists in this project.  I can see where it might provide value but seems to be an edge case.  I could def see the info being added to something like an OpenVAS or Nessus vuln scans but I'm not sure if that'

[2021-03-17 20:57] secenv commented on #415
It would be nice if the size of this repo could be reduced. After a simple git clone of this repo, the .git directory uses 782MB, almost a third of what the whole repo uses. Since it's mostly text files
Maybe the commit history could be deleted after a backup/mirror archive? Or maybe running git maintenance would be of help, as https://stackoverflow.com/a/2116892 seems to suggest?

[2021-03-18 22:30] GraoMelo commented on #567
@g0tmi1k  pthe pr #581  was created.

thanks.

[2021-03-25 01:27] GraoMelo commented on #567
Merged thanks Guys!

[2021-03-25 01:27] #567 closed

[2021-04-04 08:15] katharinaaaaoo opened #587 "401"

[2021-04-11 00:43] toxydose opened #591 "Can't clone repo. Filename issue in Windows"
![image](https://user-images.githubusercontent.com/20900400/114288350-ac73fb80-9a77-11eb-8dd6-eb32d510edd7.png)

Hi, I have an issue with cloning SecLists repository on Windows machine because of this payload in the filename.

I can propose to store payloads within the file content. And the end user can just copy it's original name and rename this file.

[2021-04-11 05:39] #587 closed

[2021-04-11 05:40] g0tmi1k commented on #591
Duplicate of #515

May also want to download via ZIP/tar and then extract what you want from the file

[2021-04-11 05:40] #591 closed

[2021-04-11 20:57] lucabigoni1992 opened #593 "Bug - installation progect"
**Describe the bug and expected behavior**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1 oper cmd like asministrator
2 execute comand: _cd c:\temp_ (folder where i can write  wit all o.s. User)
2 execute comand: _git clone --depth 1 https://github.com/danielmiessler/SecLists.git_
3. See error

**example**

C:\temp>git clone https://github.

[2021-04-13 15:14] BMK91 commented on #593
Same happens with me again.
The issue happens on 05/2020 also & still exist today. (On that time I individually cloned the folders).
@danielmiessler ..Please check...

[2021-04-20 06:08] SpiderPoko opened #595 "Cracker"

[2021-04-21 13:18] bug3j0 opened #596 "B"

[2021-04-21 13:21] bug3j0 opened #597 "F"

[2021-05-23 08:22] mietinen commented on #593
Sounds like an issue with git for windows.
These files are named in a way that they would cause problems with some programs and file systems.
Try doing `git config core.protectNTFS false`

[2021-05-25 16:37] g0tmi1k commented on #597
No information given, closing.

[2021-05-25 16:37] #597 closed

[2021-05-25 16:37] g0tmi1k commented on #596
No information given, closing.

[2021-05-25 16:37] #596 closed

[2021-05-25 16:37] g0tmi1k commented on #595
No information given, closing.

[2021-05-25 16:37] #595 closed

[2021-05-25 16:38] g0tmi1k commented on #593
This isn't an issue with Seclist - rather than the OS.

Closing

[2021-05-25 16:38] #593 closed

[2021-06-02 18:40] Neticegear opened #612 "Mistake found in special-chars.txt"
The `special-chars.txt` file found at `./Seclists/Fuzzing/special-chars.txt` contains an error.

The two special characters found at lines **13** and **14** are exactly the same , namely both are ASCII underscores, with corresponding hexcode value of `5F`.

One of these two characters needs to be changed to the ASCII hyphen(subtraction sign) with corresponding hexcode value of `2D` , as that speci

[2021-06-07 13:23] My1 opened #614 "full 10 million password list?"
the "10 Million Password list" in common credentials has several top x files up to top 1 million, but there does not seem to be a full file. is that available somewhere?

[2021-06-12 18:18] g0tmi1k commented on #612
Feel free to open up a PR with it!

[2021-07-08 09:45] lammerrs opened #624 "Seclist"

[2021-08-02 12:48] ys76138146 commented on #574
Ask me about ...

[2021-08-10 19:07] Demian71 opened #634 "Wow"
Need this

[2021-08-12 16:39] Benomat opened #635 "3787"
Look at place 3787 O_O

[2021-08-13 12:02] Demian71 opened #636 "Enterprise"
$ tar -xzvf /path/to/github-backup-utils-vMAJOR.MINOR.PATCH.tar.gz

[2021-08-18 19:42] FXCKYOUDMBFCK opened #638 "DO NOT!!!!!! DOWNLOAD SEC.LIST!!!!"
Laced with reverse shell, piece of crap

[2021-08-18 22:20] jonbrenner commented on #638
That's the point. 😂

[2021-08-21 02:58] #636 closed

[2021-08-21 02:58] #634 closed

[2021-08-21 06:16] Zalapenos opened #639 "Just need some guidance on which folder the list of email addresses are in, i came across it before but it seems like it just vanished!"

[2021-08-22 21:16] chrismb26 opened #641 "Seclist"

[2021-08-23 07:17] han0x7300 opened #642 "add "___graphql" to "Discovery/Web-Content/graphql.txt""
Hi,

add "___graphql" to "Discovery/Web-Content/graphql.txt",please ?

Sources:

* https://www.gatsbyjs.com/docs/reference/graphql-data-layer/graphql-api/
* https://www.gatsbyjs.com/docs/tutorial/part-4/

Thanks

[2021-09-09 11:15] heinosasshallik opened #652 "Create universally useful combined web discovery wordlists"
I think it would be immesely useful if SecLists had a wordlist for web discovery, which contained the unique entries from all other wordlists, sorted by commonness.

I've already [done this](https://github.com/heinosasshallik/infosec-knowledge/tree/master/wordlists/web_content), and I could submit a pull request to add these to your repository. In the repository I linked, there are two wordlists:

[2021-09-10 04:18] elitejake commented on #614
This is the one you're looking for: [xato-net-10-million-passwords.txt](https://github.com/danielmiessler/SecLists/blob/master/Passwords/xato-net-10-million-passwords.txt).

[2021-09-10 10:39] My1 commented on #614
but if the xato net us used for the "10-million-password-list-top-x" files then arent the sub lists of the xato list right next to it kinda duplicates?

[2021-09-10 13:20] elitejake commented on #614
Oh sorry, I thought you were talking about _xato-net-10-million-passwords_. I too was unable to find the the complete _10-million-password-list_.
I did check if they are duplicates, turns out they are not. But they are _almost_ the same up to 100,000 lines.

[2021-09-10 18:36] My1 commented on #614
nope I meant the one in the common credentials folder :-)

[2021-09-20 18:05] righettod opened #654 "Dict with environment names"
Hi,

Do you think that a dictionary with the collection of environment names can be interesting/useful?

A search on **[uat](https://github.com/danielmiessler/SecLists/search?q=uat)** terms shown that this environment name is already present in plenty of files.

The goal of the proposal is to have a central dictionary  when someone wants to perform a targeted discovery operation for environments o

[2021-09-28 07:23] jacknaguib opened #658 "error cloning repo in Windows"
![Screenshot 2021-09-28 171911](https://user-images.githubusercontent.com/35910536/135041471-8092ca55-f0d9-4903-8b5c-d3479f724300.png)

The error is due to invalid path Payloads/File-names/traversal/..::..:::;

[2021-09-30 20:24] Ceazerbrowns commented on #614
Please somebody send me the commands for the👆

[2021-10-21 20:47] deso030 opened #661 "On my way!"
wget -c https://github.com/danielmiessler/SecLists/archive/master.zip -O SecList.zip \
  && unzip SecList.zip \
  && rm -f SecList.zip

[2021-10-28 00:54] cpueasy opened #663 "Add PURGE METHOD for http methods"
https://github.com/danielmiessler/SecLists/blob/285474cf9bff85f3323c5a1ae436f78acd1cb62c/Fuzzing/http-request-methods.txt
ADD PURGE METHOD
"PURGE"

[2021-11-01 21:48] deso030 commented on #661
Ja

[2021-11-09 09:13] heinosasshallik commented on #652
I assumed that the smaller wordlists contained more common entries, so everything from the small wordlists should be at the top of the combined wordlist, and things that are only in the big wordlist should be towards the bottom of the wordlist.

Basically, I just `cat`ed the small wordlists first and then later sorted by unique entries

[2021-11-13 08:17] LianSheng197 opened #667 "Encountered error when cloning repo or downloading the release"
RPC failed when trying to cloning repo.
[code]
![Selection_334](https://user-images.githubusercontent.com/18535495/141611323-07b86772-8986-46bb-a4a4-6876aa5703af.png)

Encountered a decompressing error when trying the release version. You can saw that the size of the compressed file is quite small.
[code]
![Selection_335](https://user-images.githubusercontent.com/18535495/141611387-abfaa9ea-9461-4

[2021-11-24 10:02] g0tmi1k commented on #667
Odd about `git clone` failing. I wonder if GitHub that day was having issues? Does it still happen?

I can understand why zip fails to open, as that is a incomplete download. Again, possible network issues?

As far as Im aware, there isn't anything hosted on SourceForge?

[2021-11-24 10:02] #667 closed

[2021-11-24 10:03] g0tmi1k commented on #663
Please open up a merge request to add it!

[2021-11-24 10:03] #661 closed

[2021-11-24 10:04] g0tmi1k commented on #661
Not exactly sure on the reasoning for this. Closing

[2021-11-24 10:05] g0tmi1k commented on #658
Yup!
You may need to find a different way to download then ;)
Could try the zip out.

[2021-11-24 10:05] #658 closed

[2021-11-24 10:05] g0tmi1k commented on #654
Yes I think thats a good idea!

Looking forward to the PR

[2021-11-24 10:06] g0tmi1k commented on #652
Sounds good to me.
Nice if there way to keep it up-to-date...

[2021-11-24 10:06] g0tmi1k commented on #642
Merged in now.

Thanks!

[2021-11-24 10:06] #642 closed

[2021-11-24 10:07] g0tmi1k commented on #614
please do open up a merge reqest

[2021-11-24 10:15] righettod commented on #654
OK , thanks a lot for the feedback, you can assign me the issue. I will provide a PR for this.

[2021-11-26 06:13] My1 commented on #614
with what? I dont even know what the 10 Million password list even IS.

[2021-11-26 10:52] #663 closed

[2021-11-26 17:41] LianSheng197 commented on #667
Okay, I tried clone this repo again, this time it can be completed normally. Maybe something rare problem really appeared on GitHub that day :thinking:
In short, on the same day I determined that GitHub Status is all operational, but I did not further check what the problem was. This was my negligence.

As for SourceForge, I downloaded it from here:
https://sourceforge.net/projects/seclists.mirror

[2021-11-28 16:03] PinkDev1 commented on #652
I'll make a github action for it and open a PR, as soon as @heinosasshallik answers my issue on his repo ^^

[2021-11-28 16:06] PinkDev1 commented on #658
The files wouldn't be able to exist anyway on a Windows system, and therefor contributing would be more complicated than it has to on Windows. I think it'd be better if those files were compressed into a zip with a valid filename on this repo.

[2021-11-28 21:31] heinosasshallik commented on #652
Answered :)

[2021-12-05 05:55] ZhaniSun commented on #654
Open

[2021-12-05 05:59] peleckaite commented on #654
Unsubscribe

On Sun, Dec 5, 2021, 07:56 ZhaniSun ***@***.***> wrote:

[2021-12-05 17:04] ZhaniSun commented on #654
Unsubscribe

[2021-12-09 18:57] gilp06 opened #677 "Censored Common Passwords"
I'm wanting to use the Common-Credentials password list for a Science Fair project for Password Cracking. I wanted to know if there was a way I could get a version that doesn't have vulgar words because I don't think it would be school appropriate. If you can't provide this or know where else I can find something like this let me know.

I don't where else to put something like this so correct me i

[2021-12-10 10:09] redstonedesigner commented on #677
Your best bet would be to parse the list through something that checks for a list of vulgar words (for example, the Ofcom [Attitueds to potentially offensive language and gestures on TV and radio](https://www.ofcom.org.uk/__data/assets/pdf_file/0023/91625/OfcomQRG-AOC.pdf)).
In my opinion, providing a censored list would devalue the core intent of the repository, as some common passwords do contai

[2021-12-16 06:21] slagazor opened #682 "Git clone failing here."
Should I not be able to just git clone URL ?

Am I missing a download link? I apologize I'm just sort of new to this area.

[2021-12-16 07:55] karliszigurs commented on #682
http://www.catb.org/~esr/faqs/smart-questions.html

On Thu, Dec 16, 2021 at 7:21 AM slagazor ***@***.***> wrote:

[2021-12-16 08:24] blacklist-arcc opened #683 "Missing /opcache/ directory in Web-Content"
On a recent pentest i noticed a webserver using php opcache gui (https://github.com/amnuts/opcache-gui)
The unprotected gui shows up some jucy information about the running web server and could be useful for further analysis. The `/opcache/` name is not included in any wordlist. Is there a chance to include this directory name in one of the Web-Content lists?

Cheers.

[2021-12-16 11:01] slagazor commented on #682
Wow that was sooooo helpful. Just like when I first started learning linux in the 90's. The smelly guys in the redhat club would basically just say RTFM to any question. Whilst the slackware guys would take you under their wing and help when you got stuck make sure you got your box up and running. At worst they would point you to a how-to or at least suggest the right keywords to search on.

Your

[2021-12-16 11:18] karliszigurs commented on #682
I thought you were 14.

This is kinda embarrassing. You still have not shared anything that we can
help you with.

On Thu, Dec 16, 2021 at 12:01 PM slagazor ***@***.***> wrote:

[2021-12-16 11:23] slagazor commented on #682
I was looking for this "https://github.com/danielmiessler/SecLists.git" and couldn't find it previously.

[2021-12-16 11:26] karliszigurs commented on #682
Ok, so you are 14. Fair enough.

On Thu, Dec 16, 2021 at 12:23 PM slagazor ***@***.***> wrote:

[2021-12-16 11:27] slagazor commented on #682
asshole much?

[2021-12-16 11:28] #682 closed

[2021-12-16 11:29] karliszigurs commented on #682
Calm down and reflect that you blasted a mailing list for your inability to
use github.

On Thu, Dec 16, 2021 at 12:27 PM slagazor ***@***.***> wrote:

[2021-12-18 01:49] PinkDev1 commented on #682
@karliszigurs you're being unnecesarily mean. This is most likely someone who is just now entering cybersecurity and found this repo by chance. Would it really have been that hard to just give a _short_ explanation as to how to `git clone`?

Sorry about that @slagazor, if you can't solve a problem on your own, don't hesitate in opening an issue. But you're likely to get snarky responses if people

[2021-12-18 02:23] slagazor commented on #682
Thank you I appreciate that.

I've actually worked in it my entire life I was online in the '80s.

I'm just retired now and all the new changes are just overwhelming.

I've successfully used git clone before but sometimes an app will just have well n shitty install instructions.

For instance I just installed sabnzbd but I have no idea how to proceed once it's cloned.

[2021-12-18 07:44] ArifOrcan opened #684 "Is there a thing that can make out 4-digit pin codes that are not in this list?"
I wanted to use a secure lock for the game "Rust" so i wouldn't get code raided and other such stuff. Can anyone help ne out?

[2021-12-18 19:34] PinkDev1 commented on #684
This will probably go over your head but whathever.
You could try inspecting network traffic on-the-fly and modifying your lock pin from `[1,2,3,4]` to `["","","",""]` in the HTTP message that would be sent to the server otherwise. Therefor, only you would be able to unlock the door, using a hand-crafted program which sends this _null_ 4-pin code.

[2022-01-09 02:11] Deepspeed opened #688 "Password List Builder / Duplicate Catcher / Bad String Removal Tool"
I created a tool several years ago to help brute forcing tools by building new password lists from existing collections according to various rules, including user-defined rules, and by stripping duplicates from groups of lists while merging them into larger, more usable lists.

The app is not perfect, but it is functional and I find it handy when I'm using lists like SecLists stuff.

Please feel f

[2022-01-12 15:18] kai2s opened #689 "Duplicated entries in tomcat-betterdefaultpasslist.txt"
Hello,

There are some duplicated entries in `Passwords/Default-Credentials/tomcat-betterdefaultpasslist.txt`
The entries that could be removed are:

[code]

Thanks!

[2022-01-18 04:49] godylockz opened #690 "LFI Add List"
LFI Add List
https://github.com/1N3/IntruderPayloads/blob/master/FuzzLists/lfi.txt

Noticed none of the LFI lists in SecLists have nginx paths. Found this list, thought it might be useful for merge of missing.

[2022-01-21 12:45] Wernfried opened #691 "Missing default passwords"
In the default password list, I would miss the standard default password "Changeme_123" from Huawei.

Google for ```Changeme_123 Huawei```, then you will get system documentation of various systems and very many are using "Changeme_123" as default password

[2022-01-21 12:48] drwetter commented on #691
I am not maintainer of this. But to ease matters: why don't you just suggest a PR?

[2022-01-27 01:37] JohnMackYouTube05 opened #694 "Is there a way for me NOT to download the Payloads folder of this repository?"
Hi, yes, I’d like to *not* download a bunch of ZIP bombs on my computer while I’m trying to do pen testing, thanks. I used WSL to clone the repository, and now Windows Defender is going apeshit with like 200 different virus detections

[2022-01-27 05:00] Halbachb commented on #694
Just turn off Defender

[2022-01-27 14:59] elitejake commented on #694
Or add the repo folder to the Defender's exclusion list.

[2022-01-27 15:07] drwetter commented on #694
use Linux!

[2022-01-27 15:08] elitejake commented on #694
Or fork the repo and delete the directory.

No `Payloads` directory in this fork I created: `https://github.com/elitejake/SecLists/tree/without-payloads`.

[2022-01-29 02:13] PinkDev1 commented on #694
lmao

[2022-01-29 06:34] PinkDev1 commented on #652
I've made the pull request! #696

[2022-01-31 23:23] #689 closed

[2022-01-31 23:28] g0tmi1k commented on #694
In short, no there isn't a nice way without changing your setup!

Either:

- Disable the protection
- Allow it to exits on the protection
- Use a different OS
- Use a different fork of SecList
- Download via zip/tar and then delete the folder inside the compress file

[2022-01-31 23:28] #694 closed

[2022-01-31 23:29] g0tmi1k commented on #691
Thanks for the suggestion.

please do open up a pull request with it, and we can accept it :)

[2022-01-31 23:29] g0tmi1k commented on #690
Thanks for the suggestion!

Please do open up a pull request with it, and we can accept it :)

[2022-01-31 23:32] g0tmi1k commented on #688
Thanks for the suggestion.

Tools have only recently been added to the repo.
I do wonder going forwards, if its better to build a list of tools rather than having the tool included.

Like having `./SOFTWARE.md` or `./TOOLS.MD`, and then linking to your git repo with a discerption

That way, easy to find the tool, credit is given where its due and less places to push out updates to when the tool ge

[2022-01-31 23:34] g0tmi1k commented on #684
This issue is a little off topic @ArifOrca, as what you are asking for is not related to a list of values, but rather reverse engineering

[2022-01-31 23:34] #684 closed

[2022-01-31 23:35] g0tmi1k commented on #683
Thanks for the suggestion.

Please do open up a pull request with it, and we can accept it :)

[2022-01-31 23:36] g0tmi1k commented on #677
Thanks for the suggestion.

Thats a good point and idea.
It would need someone to remove it and then make a pull request with it.
There should already be various lists of "naughty words" to remove!

[2022-02-01 09:27] elitejake commented on #691
I found `Changeme_123` in [`default-passwords.csv#L1052`](https://github.com/danielmiessler/SecLists/blob/master/Passwords/Default-Credentials/default-passwords.csv#L1052).

[2022-02-01 11:45] rf-peixoto commented on #677
I can do this. Could you tell me which exact file you intend to use? I mean, "Common-Credentials" is a folder with several lists. I've already found a [list of words to censor](https://raw.githubusercontent.com/LDNOOBW/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/master/en). If someone has time to do the new one before I do, I recommend doing some permutations for greater scope. Anyway, t

[2022-02-02 23:32] g0tmi1k commented on #683
I believe its now merged in - thanks for taking the time to make the pull request!

[2022-02-02 23:32] #683 closed

[2022-02-02 23:41] g0tmi1k commented on #691
Closing!

[2022-02-02 23:41] #691 closed

[2022-03-04 10:09] agyss opened #703 "Localized Wordlists"
Localized wordlists would increase the education purpose a lot. The most common german passwords are for sure quite different from the chinese ones, englisch ones, and so on...

The best I found to start of was:
https://github.com/scipag/password-list/tree/main/countries

I would be willing to create the lists by my own if someone can provide access to specific raw data. The only requirement for t

[2022-03-20 21:31] kamilpaczkowski opened #704 "gg"
install passpord ??

[2022-03-20 21:33] kamilpaczkowski opened #705 "admin pyt"
jakie jest passpord do instalacji pliku ??

[2022-04-04 00:15] obbaas opened #710 "_a19996_"

[2022-04-08 06:58] ItsIgnacioPortal opened #711 "Add "Cook" to related projects in the README"
https://github.com/giteshnxtlvl/cook

I'm sure someone here will find it handy :p

[2022-04-24 19:02] jarekczek commented on #658
Windows workaround:
After cloning the repo you have it locally, but `git reset --hard` fails, because of invalid filenames. So we need to commit removal of these files. They are already staged for removal, which can be done with `git commit -mremoval`. But this would commit removal of all. So:
- `git status` to see all the files staged for removal
- issue `git restore --staged xxx` for each file/d

[2022-04-26 16:35] g0tmi1k commented on #711
It might just be my untrained eyes, but that gist doesn't look like it actually says where the data comes from?

"original 41G stash"

maybe the magnet url would be more useful than the web-archive telling people to look up

[2022-04-26 16:37] #710 closed

[2022-04-26 16:38] g0tmi1k commented on #705
Google translates `jakie jest passpord do instalacji pliku ??` to `what is the passpord to install the file ??`

not sure what file you are talking about :(

[2022-04-26 16:38] #705 closed

[2022-04-26 16:39] g0tmi1k commented on #704
#705

[2022-04-26 16:39] #704 closed

[2022-05-03 05:47] ItsIgnacioPortal commented on #703
Ok, so this has a couple of challenges:

- Getting the data breach databases
- Separating the users by geographical location
- Actually processing the data

I personally have a copy of Collection #1, Collection #2 to #5, and the ANTIPUBLIC breaches, totaling:

- 2.7 billion total records
- 1.2 billion unique e-mail address and password combinations
- 773 million unique e-mail addresses
- 21 millio

[2022-05-08 10:37] Rajar01 opened #753 "Unable to checkout working tree in git clone complete"
Cloning into 'SecLists'...
remote: Enumerating objects: 11021, done.
remote: Total 11021 (delta 0), reused 0 (delta 0), pack-reused 11021
Receiving objects: 100% (11021/11021), 834.50 MiB | 1.97 MiB/s, done.
Resolving deltas: 100% (5941/5941), done.
error: invalid path 'Payloads/File-Names/traversal/..::..::;'
fatal: unable to checkout working tree
warning: Clone succeeded, but checkout failed.
Yo

[2022-05-08 19:23] ItsIgnacioPortal commented on #753
I'm thinking of making that folder (`traversal`) into a zip so it's easier to contribute to this project from Windows. How does that sound @g0tmi1k ?

[2022-05-09 16:00] hoquek opened #755 "Could not find 10M passwords"
I found 1M passwords, but not 10M passwords. Is it located somewhere else on this GitHub under a different name or something?

[2022-05-09 16:01] hoquek commented on #755
Is it this one? https://raw.githubusercontent.com/danielmiessler/SecLists/master/Passwords/xato-net-10-million-passwords.txt

[2022-05-10 05:41] ItsIgnacioPortal commented on #755
Those are, indeed, 10 millon passwords.

[2022-05-10 13:58] hoquek commented on #755
Thanks @ItsIgnacioPortal . Technically there are approx. 5M password in that list but good nonetheless.

[2022-05-11 07:42] Rajar01 commented on #753
@ItsIgnacioPortal So how i can install this command with git clone.

[2022-05-11 19:07] ItsIgnacioPortal commented on #753
To be honest, I don know. I've chosen to just clone this repository in Debian, using [WSL](https://docs.microsoft.com/en-us/windows/wsl/about)

[2022-05-13 12:01] Rajar01 commented on #753
Okay thanks you for your guide sir, @ItsIgnacioPortal  🙏

[2022-05-13 12:01] #753 closed

[2022-05-21 17:14] ryanwohara opened #758 ""1.4 billion password breach compilation wordlist" 404's"
The link provided by this document is no longer available:
https://github.com/danielmiessler/SecLists/blob/master/Passwords/url-to-download-passwords.md

[2022-05-22 08:43] agyss commented on #703
I checked for the second issue, by combining these two datasets, we should get a good base for matching:
https://web.archive.org/web/20200414235453/ftp://ftp.heise.de/pub/ct/listings/0717-182.zip
and
https://en.wikipedia.org/wiki/Category%3aLists_of_popular_names

Furthermore I would filter the mailadresses and only take the ones following the pattern firstname.lastname@.... or lastname.firstname@

[2022-05-27 17:05] Izaz126 opened #759 "Password"

[2022-05-27 17:06] #759 closed

[2022-05-30 06:48] denandz opened #760 "Inconsistent leading slashes in Discovery/Web-Content wordlists"
Some wordlists in Web-Content include a leading slash, some do not. This leads to an additional step being required before using some wordlists (since some webservers treat `/index.html` and `//index.html` differently).

It would be handy if all of these wordlists could follow the same pattern, either with or without the leading slash. Happy to make these changes and send a pull request, my prefer

[2022-06-03 17:23] KingTomasi opened #761 "Seclist refusing to clone into my kali"
Good day Daniel
Each time I try to git clone the seclist repo, it is extremely slow and then times out, leaving this error message as a result;

┌──(kali㉿kali)-[~/Documents/CTF]
└─$ git clone https://github.com/danielmiessler/SecLists.git
Cloning into 'SecLists'...
remote: Enumerating objects: 11021, done.
error: 1276 bytes of body are still expectedMiB | 181.00 KiB/s
fetch-pack: unexpected discon

[2022-06-04 01:55] ItsIgnacioPortal commented on #761
Can you clone other repositories?

[2022-06-04 09:37] KingTomasi commented on #761
Yes, I can clone other repositories
I just cloned sublist3r this morning
Thanks for your prompt response

On Sat, Jun 4, 2022, 2:55 AM Ignacio J. Perez Portal <
***@***.***> wrote:

[2022-06-04 19:51] ItsIgnacioPortal commented on #761
Try cloning this repository again. If that fails, try updating git: `sudo git update`

[2022-06-05 14:26] righettod commented on #761
Hi,

The problem is not present on a Ubuntu:

![image](https://user-images.githubusercontent.com/1573775/172055368-6aa35ac2-eb0a-4ed3-85de-6bf796ff735d.png)

[2022-06-05 14:37] righettod commented on #761
No problem on a Kali 2022.2 too:

![image](https://user-images.githubusercontent.com/1573775/172055865-fdf254d5-e153-43c5-82ac-1ea725be29a9.png)

[2022-06-05 14:39] KingTomasi commented on #761
I have the same version of git and the latest Kali version as well, what
else could be the problem?

On Sun, Jun 5, 2022, 3:37 PM Dominique RIGHETTO ***@***.***>
wrote:

[2022-06-05 15:11] righettod commented on #761
I really do not know.

I retried after fully updading the Kali and I still not have error cloning the repository...

[2022-06-05 15:19] rf-peixoto commented on #761
I had no problems here. You can try other methods of installing the repository besides git. Examples: https://kalilinuxtutorials.com/seclists-security-testers/

[2022-06-08 08:25] KingTomasi commented on #761
Thank you so much, I was able to download the zip file directly through the
link you provided.
Have a lovely day

On Sun, Jun 5, 2022, 4:20 PM Corvo ***@***.***> wrote:

[2022-06-08 15:34] paupaulaz commented on #760
Totally agree with this ! I use quickhits.txt wordlist a lot and it always makes me crazy when I forget that it has leading slashes. Can help with unification as well !

[2022-06-14 01:58] v8blink opened #764 "Add XSS detection tool - Cyclops"
Name: Cyclops
Type:Discovery/XSS
Description: The Cyclops is a web browser with XSS detection feature, it is chromium-based xss detection that used to find the flows from a source to a sink.
github:https://github.com/v8blink/Chromium-based-XSS-Taint-Tracking

[2022-06-17 04:01] hdzao opened #766 "help guys"
hi guys i need help
when download
SecList.zip i cant extract she
and i received
there was an error while extracting
SecList.zip:(null)
what is mean ???

[2022-06-20 18:45] jvarsec opened #768 "Add a subdomain to the DNS list."
Can you please add `preprod-payroll` to the subdomain list.

[2022-06-21 12:20] njmulsqb commented on #538
+1

[2022-06-21 14:14] SniffyMcTasty opened #770 "SecLists refusing to clone on Windows"
I'm trying to clone the repo into Windows, but after cloning, I get an error telling me that checkout could not be completed:

![image](https://user-images.githubusercontent.com/68755892/174820717-ab0e78fb-4420-4aea-8b93-9277d6069ce3.png)

I then tried the proposed solution of `git restore --source=HEAD :/` but ended up getting pretty much the same thing:

![image](https://user-images.githubuserco

[2022-06-22 08:08] nimappa opened #771 "instagram hack"

[2022-06-22 15:42] danielaltamirano1993 opened #772 "List types fix"
List types include user names, passwords

[2022-06-23 22:51] ItsIgnacioPortal commented on #770
I'm trying to fix this issue. Try: `git clone -b i770 https://github.com/ItsIgnacioPortal/SecLists/` and tell me if that works.

[2022-06-24 02:13] ItsIgnacioPortal commented on #768
I've made a PR that fixes this.

[2022-06-24 02:35] ItsIgnacioPortal commented on #235
Such a wordlist seems highly specialized. Anyone who needs something like this should generate it themselves.

[2022-06-24 02:50] ItsIgnacioPortal commented on #397
How so? Any half decent library/tool that parses files should already have the capability of seamlessly parsing CRLF or LF endings.

[2022-06-24 03:40] ItsIgnacioPortal commented on #614
I have no idea of where @danielmiessler got that list from. The files were uploaded on commit [f50231d90afeff9738d34d3041381ec44b6b202e](https://github.com/danielmiessler/SecLists/commit/f50231d90afeff9738d34d3041381ec44b6b202e#comments), but there aren't any details there.

Unless Daniel remembers, this pursuit is pointless :p

[2022-06-25 12:09] jvarsec commented on #768
Thank you.

[2022-06-25 12:09] #768 closed

[2022-07-01 15:02] un9nplayer opened #787 "please add this Unpublicly Paths in seclist that can leads to Mass Account Takeover And Sql on Oracle E-Business."
Vulnerable Oracel Database login path :  /OA_HTML/AppsLocalLogin.jsp

![1](https://user-images.githubusercontent.com/75741506/176918051-d2145a27-2f2f-4740-8016-c040d8f6064e.PNG)

Vulnerable Create User Path : /OA_HTML/ibeCAcpSSOReg.jsp
an attacker can create a new user and get access to the database as a low user which is supposed not to be happening.

![2](https://user-images.githubusercontent.co

[2022-07-09 20:17] cydave opened #788 "Potential addition: Common WordPress Plugin Filepaths"
I'm working on some WordPress plugin stuff and wondered if there's interest in adding a top list
of commonly encountered files in WordPress plugins (i.e. the part after the plugin slug ->` /wp-content/plugins/slug-slug/*`).

Check out the gist below, which includes the top 1000 filepaths of "all" plugins available on the WordPress marketplace:

* (without count) https://gist.github.com/cydave/dba4

[2022-07-09 22:14] Silly26 commented on #770
![image](https://user-images.githubusercontent.com/8854060/178124240-1da5f15e-b967-4917-8abd-f07a5de9ddfe.png)

I'm getting a failure to clone as well, although not with the filename length.

[2022-07-10 02:05] ItsIgnacioPortal commented on #770
@Silly26 Look at the comment above yours.

[2022-07-10 09:45] Silly26 commented on #770
@ItsIgnacioPortal Thanks for the reply. The i770 branch takes care of the issue.

Thank you!

[2022-07-14 09:16] ItsIgnacioPortal commented on #574
I do not think such a list belongs here. This isn't an IOCs database. I think other projects would be better suited for something like this.

[2022-07-14 09:18] ItsIgnacioPortal commented on #764
I don't think this is related to seclists...

[2022-07-15 23:20] 1989shack opened #789 "Seclists Frontend and Backend"
Security Media Network

[2022-07-16 15:55] ItsIgnacioPortal commented on #788
Interesting project. The best usecase I can think of for these lists is for detecting if a plugin is installed in a wordpress instance. But most people would rather use a wordpress scanner like wpscan instead of "manually" scanning directories. Maybe the maintainers of wpscan could find a better use for your lists.

[2022-07-16 19:38] #788 closed

[2022-07-24 14:53] Technetium1 commented on #758
I would like to second this issue.

[2022-07-25 01:37] ItsIgnacioPortal commented on #758
#775 fixes this

[2022-07-27 10:28] yaco1096 commented on #541
How can i hack an Instagram account

[2022-07-27 10:39] yaco1096 opened #793 "Common: cd Instagram"
@danielmiessler How can i hack Instagram

[2022-08-01 23:11] #760 closed

[2022-08-01 23:12] #770 closed

[2022-08-02 05:29] #538 closed

[2022-08-02 05:38] g0tmi1k commented on #758
This should be fixed now, thanks to @noraj & @ItsIgnacioPortal

[2022-08-02 05:38] #758 closed

[2022-08-02 05:54] #711 closed

[2022-08-02 06:24] #793 closed

[2022-08-02 06:25] #789 closed

[2022-08-02 06:27] #771 closed

[2022-08-02 09:39] g0tmi1k commented on #787
Feel free to make a pull request

[2022-08-02 09:40] g0tmi1k commented on #772
Hello @danielaltamirano1993

I'm not sure exactly what you mean.
Could you explain it a little more?

[2022-08-02 09:41] g0tmi1k commented on #766
Hi @hdzao

Please could you explain your setup & environment a little more.
What actions/commands are you using?
What steps did you take?
What were you expecting?

Please can you be as verbose and detailed as possible.

[2022-08-02 09:43] g0tmi1k commented on #764
Hi @v8blink
This appears to be a tool, rather than a file of values?

However, the README has a table of values, is that what you are wanting to be added?

[2022-08-02 09:45] g0tmi1k commented on #761
You should be able to `apt install seclists` on Kali.

I'm guessing whatever partition you are trying todo it on, in in a format (e.g. fat32, NTFS, EXT4) which doesn't like "something".

[2022-08-02 09:45] #761 closed

[2022-08-02 09:46] g0tmi1k commented on #703
Feel free to open up a pull request with it!

[2022-08-03 08:28] v8blink commented on #764
Hi, @g0tmi1k
Thank you for your reply.

Yes, it is a tool --- a web browser with XSS detection feature.
Is there a slot for security tools in the SecList? I want to add my tool.
https://github.com/v8blink/Chromium-based-XSS-Taint-Tracking/blob/main/README-en.md

Of course, the table in README is very useful for detecting XSS，I wish it is  added.

[2022-08-03 09:59] ItsIgnacioPortal commented on #787
I suspect that they made this issue because of the size of this repo; Some people don't want to have to clone 1.6GBs to be able to contribute :p

[2022-08-16 19:11] x0rld commented on #787
well now you can do directly on github without cloning it

[2022-08-17 13:01] DeveloperOl commented on #703
I have some wordlists with tons of common and uncommon language specific words and names, etc (just words not common passwords) for many popular languages. Those could be used for your educational purposes in addition with hashcat rules ;) I can make a pull request if this is of interest. I would create a folder like /Passwords/localized if that is the right place for it. @g0tmi1k

[2022-08-18 07:51] stampyzfanz commented on #787
Also, try pressing the period key on a repository's homepage to use a web version of VS Code that contains the repository's content.

[2022-08-18 08:32] sumayanavha commented on #787
Hi sir.. sorry needed the order please cancel the order 🙏

On Thu, 18 Aug 2022, 10:53 am stampyzfanz, ***@***.***> wrote:

[2022-09-03 12:41] vorost opened #806 "Collection methodology for the dutch passwordlists"
Hello,

Thank you very much for putting this repo together.

I would like to ask for information please on what was the collection source and methodology for the following password lists:
- https://github.com/danielmiessler/SecLists/blob/master/Passwords/dutch_common_wordlist.txt
- https://github.com/danielmiessler/SecLists/blob/master/Passwords/dutch_passwordlist.txt
- https://github.com/danielmi

[2022-09-09 03:02] ItsIgnacioPortal commented on #806
You can just search [the pull requests](https://github.com/danielmiessler/SecLists/pulls) with the word "dutch" (remove the `is:open` text)

[2022-09-09 07:25] ItsIgnacioPortal commented on #703
That would be very useful for fulfilling this issue :). Please make a pull request @DeveloperOl

[2022-09-12 10:39] DeveloperOl commented on #703
Okay, I will do some cleanup and than make a PR for German, French, Spanish, Polish and Swedish, maybe one by one becuase generating and cleaning up these lists is a pain.
Lists over 100MB should be compressed or not @ItsIgnacioPortal ?

[2022-09-12 11:30] ItsIgnacioPortal commented on #703
No, it's fine. On git, files should only be compressed if they have names that can not exist on some filesystems (see: #770).
Though, I don't know up to what point such a crazy-long list would be useful. Could you limit each list to one hundred thousand lines?

[2022-09-12 15:22] ItsIgnacioPortal commented on #703
Alright! I'm awaiting your PR

[2022-09-19 06:48] denandz commented on #760
Looks like the pull request got, err, unmerged... somehow...

[2022-09-27 20:45] ItsIgnacioPortal commented on #760
What makes you say that?

[2022-09-27 20:51] denandz commented on #760
Pull #791 was merged back in August, but if you take a look at https://github.com/danielmiessler/SecLists/blob/master/Discovery/Web-Content/quickhits.txt it's not in the commit history and the leading slashes have returned.

Did someone maybe force-push master recently?

[2022-09-27 20:55] ItsIgnacioPortal commented on #760
Oh you're right, someone messed up. @g0tmi1k did you force-push?

[2022-09-28 20:28] johnsaigle commented on #652
⬆️ Looks like this can be closed?

[2022-09-29 08:16] heinosasshallik commented on #652
Yep

[2022-09-29 08:16] #652 closed

[2022-10-01 02:46] ItsIgnacioPortal opened #816 "Fix github action "Wordlist Updater - Awesome list of secrets in environment variables""
If the remote wordlist hasn't actually been updated since the last fetch, the github action will fail because it will try to commit changes, but it will have nothing to commit. For example, look at https://github.com/danielmiessler/SecLists/actions/runs/3162446394/jobs/5149044599

This can be fixed by using git status (or a similar command) to check for changes beforehand, and terminating the acti

[2022-10-01 08:16] ItsIgnacioPortal commented on #760
@g0tmi1k please run `git reflog` and share the output here so we can diagnose how this happened. I've looked everywhere else, and it just looks as if that Pull Request had never been merged, but every other change before and after that is fine. It's very strange.

[2022-10-04 11:28] Qyuzux opened #818 "Remove my password"
Thanks

[2022-10-04 13:15] ItsIgnacioPortal commented on #818
Ok, what's your password?

![PicsArt_10-04-10.15.00.jpg](https://user-images.githubusercontent.com/46269721/193828764-175d93ac-d5c7-4a1c-9d31-e4eede9b9f1a.jpg)

[2022-10-14 02:53] Rohit7563 opened #820 "Remove my zip file password"
..

[2022-11-04 14:38] johnsaigle commented on #654
Looks like this issue can be closed as the PR has been merged

[2022-11-04 14:51] righettod commented on #654
You are right 😃

[2022-11-20 12:37] sh4d0w-kartik opened #829 "Check out "The Lonely Hacker""
https://play.google.com/store/apps/details?id=com.TheLonelyDeveloper.TheLonelyHacker

[2022-11-22 12:00] ItsIgnacioPortal opened #830 "Add mention of the-xentropy/samlists"
https://github.com/the-xentropy/samlists

[2022-11-22 12:16] #816 closed

[2022-11-22 12:25] g0tmi1k commented on #830
Hi @ItsIgnacioPortal

Please open up a merge request with this - either adding a link or adding the content with credit!

[2022-11-22 12:26] g0tmi1k commented on #829
This is a little off topic.

[2022-11-22 12:26] #829 closed

[2022-11-22 12:27] #818 closed

[2022-11-22 12:30] g0tmi1k commented on #806
Do the following links help @vorost ?

- https://github.com/danielmiessler/SecLists/pull/424
- https://github.com/danielmiessler/SecLists/pull/351

[2022-11-22 12:31] g0tmi1k commented on #772
Are you able to give more information @danielaltamirano1993 ?

[2022-11-22 12:32] g0tmi1k commented on #766
Are you able to give more information @hdzao ?

[2022-11-22 12:33] g0tmi1k commented on #764
This is more about lists of words, rather than a list of tools - sorry!

[2022-11-22 12:33] #764 closed

[2022-11-22 12:34] Rohit7563 commented on #820
I created aa zip file of storage 4.5 gb with password but  i forgot the
password could you please help me to out to unlock the zip file the files
are very important to me

On Tue, 22 Nov, 2022, 17:57 g0tmi1k, ***@***.***> wrote:

[2022-11-22 12:39] g0tmi1k commented on #820
Sorry, this is off topic - this is a repo for lists of word, not service offering.

Best of luck

[2022-11-22 12:39] #820 closed